{
  "swagger": "2.0",
  "info": {
    "description": "출발/도착지를 기준으로 열차(KTX포함)의 운행시간표정보를 조회하는 열차정보 서비스이다. 열차정보는 출/도착지 기반, 차량 종류 목록, 시도별 기차목록, 도시코드목록 조회가 가능하다. 출발지와 도착지를 기준으로 열차(KTX 포함)의 운행 시간표 정보를 조회할 수 있는 열차정보 서비스이다. 본 서비스는 이용자가 선택한 출발역과 도착역을 기반으로 해당 구간을 운행하는 열차의 시간표 정보를 제공하며, 열차의 출발 시간, 도착 예정 시간 등 기본적인 운행 현황을 확인할 수 있도록 구성되어 있다. 또한 차량 종류 목록, 시도별 기차 목록, 도시 코드 목록 조회 기능을 함께 제공하여 열차 정보 검색 및 관련 데이터 활용이 가능하다. 이를 통해 이용자는 철도 운행 정보를 종합적으로 파악하고 이동 일정 계획 수립에 참고할 수 있습니다.\n또한 한번에 출력되는 데이터 목록수를 설정할수 있으며, 페이지 번호를 설정하여 전체 데이터를 분할하여 호출이 가능합니다. \nTAGO 연계현황및 기술자료는 http://www.tago.go.kr에서 확인이 가능합니다.\n데이터 활용 추가 문의사항은 TAGO 운영팀(054-459-7870)으로 문의 바랍니다.",
    "version": "1.0.0",
    "title": "국토교통부_(TAGO)_열차정보"
  },
  "host": "apis.data.go.kr/1613000/TrainInfo",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/GetStrtpntAlocFndTrainInfo": {
      "get": {
        "responses": {
          "98": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된 요청 파라메터 에러)"
          },
          "99": {
            "description": "UNKNOWN_ERROR(요청한 리소스를 찾을 수 없습니다)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "데이터 총 개수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "trainno": {
                              "type": "string",
                              "description": "열차번호",
                              "properties": {}
                            },
                            "traingradename": {
                              "type": "string",
                              "description": "차량종류명",
                              "properties": {}
                            },
                            "depplandtime": {
                              "type": "string",
                              "description": "출발시간(YYYYMMDDHHMISS)",
                              "properties": {}
                            },
                            "arrplandtime": {
                              "type": "string",
                              "description": "도착시간(YYYYMMDDHHMISS)",
                              "properties": {}
                            },
                            "depplacename": {
                              "type": "string",
                              "description": "출발지",
                              "properties": {}
                            },
                            "arrplacename": {
                              "type": "string",
                              "description": "도착지",
                              "properties": {}
                            },
                            "adultcharge": {
                              "type": "string",
                              "description": "운임(단위 : 원)",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "출/도착지기반열차정보 조회",
        "description": "열차(KTX)의 출발역, 도착역 정보를 조회하는 기능제공",
        "operationId": "GetStrtpntAlocFndTrainInfo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "데이터 타입(xml, json)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "depPlaceId",
          "description": "출발기차역ID [상세기능3. 시/도별 기차역 목록조회]에서 조회 가능",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "arrPlaceId",
          "description": "도착기차역ID [상세기능3. 시/도별 기차역 목록조회]에서 조회 가능",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "depPlandTime",
          "description": "출발일(YYYYMMDD), null 입력시 오늘 날짜 조회",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "trainGradeCode",
          "description": "차량종류코드",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/GetCtyAcctoTrainSttnList": {
      "get": {
        "responses": {
          "98": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된 요청 파라메터 에러)"
          },
          "99": {
            "description": "UNKNOWN_ERROR(요청한 리소스를 찾을 수 없습니다)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "nodename": {
                              "type": "string",
                              "description": "기차역명",
                              "properties": {}
                            },
                            "nodeid": {
                              "type": "string",
                              "description": "기차역ID",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "데이터 총 개수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "시/도별 기차역 목록조회",
        "description": "시도별로 기차역의 목록을 조회한다.",
        "operationId": "GetCtyAcctoTrainSttnList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "데이터 타입(xml, json)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cityCode",
          "description": "시/도 ID",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/GetVhcleKndList": {
      "get": {
        "responses": {
          "98": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된 요청 파라메터 에러)"
          },
          "99": {
            "description": "UNKNOWN_ERROR(요청한 리소스를 찾을 수 없습니다)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "vehiclekndnm": {
                              "type": "string",
                              "description": "차량종류명",
                              "properties": {}
                            },
                            "vehiclekndid": {
                              "type": "string",
                              "description": "차량종류코드",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "차량종류 목록 조회",
        "description": "열차종류의 목록을 조회한다.",
        "operationId": "GetVhcleKndList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "데이터 타입(xml, json)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/GetCtyCodeList": {
      "get": {
        "responses": {
          "98": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된 요청 파라메터 에러)"
          },
          "99": {
            "description": "UNKNOWN_ERROR(요청한 리소스를 찾을 수 없습니다)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "cityname": {
                              "type": "string",
                              "description": "도시명",
                              "properties": {}
                            },
                            "citycode": {
                              "type": "string",
                              "description": "도시코드",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "도시코드 목록 조회",
        "description": "도시코드의 목록을 조회한다.",
        "operationId": "GetCtyCodeList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "데이터 타입(xml, json)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "GetStrtpntAlocFndTrainInfo_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "totalCount": {
              "type": "string",
              "description": "데이터 총 개수"
            },
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "trainno": {
                      "type": "string",
                      "description": "열차번호"
                    },
                    "traingradename": {
                      "type": "string",
                      "description": "차량종류명"
                    },
                    "depplandtime": {
                      "type": "string",
                      "description": "출발시간(YYYYMMDDHHMISS)"
                    },
                    "arrplandtime": {
                      "type": "string",
                      "description": "도착시간(YYYYMMDDHHMISS)"
                    },
                    "depplacename": {
                      "type": "string",
                      "description": "출발지"
                    },
                    "arrplacename": {
                      "type": "string",
                      "description": "도착지"
                    },
                    "adultcharge": {
                      "type": "string",
                      "description": "운임(단위 : 원)"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "string",
              "description": "한페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지 번호"
            }
          }
        }
      }
    },
    "GetCtyAcctoTrainSttnList_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "nodename": {
                      "type": "string",
                      "description": "기차역명"
                    },
                    "nodeid": {
                      "type": "string",
                      "description": "기차역ID"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "string",
              "description": "한페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지 번호"
            },
            "totalCount": {
              "type": "string",
              "description": "데이터 총 개수"
            }
          }
        }
      }
    },
    "GetVhcleKndList_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "vehiclekndnm": {
                      "type": "string",
                      "description": "차량종류명"
                    },
                    "vehiclekndid": {
                      "type": "string",
                      "description": "차량종류코드"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetCtyCodeList_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "cityname": {
                      "type": "string",
                      "description": "도시명"
                    },
                    "citycode": {
                      "type": "string",
                      "description": "도시코드"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
