{
  "swagger": "2.0",
  "info": {
    "description": "- 국내관광정보서비스 OpenAPI 신규 상세기능(법정동코드, 신분류코드) 안내 URL(https://api.visitkorea.or.kr/#/cmsNoticeDetail?no=207)\n- 한국관광공사가 보유하고 있는 전국의 다양한 관광정보와 사진정보를 실시간으로 제공 받을 수 있으며,국내 최대 관광정보 포털 사이트 Visitkorea(www.visitkorea.or.kr) 홈페이지에서 제공하는 관광정보 중 저작권 등에 구애 없이 자유롭게 활용 가능한 정보만을 선별하여 OpenAPI를 통해서 최신정보를 제공하고 있습니다. \n- 개방 데이터는 지역코드정보, 서비스분류코드정보, 법정동코드정보, 분류체계코드정보, 지역기반관광정보, 위치기반관광정보, 키워드검색, 행사정보, 숙박정보, 공통정보, 소개정보, 반복정보, 이미지정보, 관광정보 동기화 목록정보, 반려동물 동반여행정보 15종 약 26만 건의 국내 관광에 대한 전반적인 정보를 국문으로 제공합니다.\n- 모바일 앱 뿐만 아니라, 웹서비스, 태블릿, 홍보물, 잡지 등 다양한 매체에서 어플리케이션을 개발, 활용할 수 있으며 다양한 활용을 통해서 신규/융복합 관광서비스를 창출할 수 있습니다. \n※ 제공되는 데이터중 사진 자료의 경우, 피사체에 대한 명예훼손 및 인격권 침해 등 일반 정서에 반하는 용도의 사용 및 기업 CI,BI로의 이용 금지하고 있습니다. (공공누리 1유형, 3유형 이미지 제공됨)",
    "version": "1.0.0",
    "title": "한국관광공사_국문 관광정보 서비스_GW"
  },
  "host": "apis.data.go.kr/B551011/KorService2",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/areaCode2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "code": {
                              "type": "string",
                              "description": "코드 : 지역코드또는시군구코드",
                              "properties": {}
                            },
                            "name": {
                              "type": "string",
                              "description": "코드명 : 지역명또는시군구명",
                              "properties": {}
                            },
                            "rnum": {
                              "type": "string",
                              "description": "일련번호",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "지역코드조회",
        "description": "미사용 기능 (삭제예정-법정동 시도코드 대체)",
        "operationId": "areaCode2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WEB (웹), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "areaCode",
          "description": "지역코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/detailPetTour2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "응답 결과 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "응답 결과 메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "number",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "contentid": {
                              "type": "string",
                              "description": "콘텐츠ID",
                              "properties": {}
                            },
                            "acmpyPsblCpam": {
                              "type": "string",
                              "description": "동반가능동물",
                              "properties": {}
                            },
                            "relaRntlPrdlst": {
                              "type": "string",
                              "description": "관련 렌탈 품목",
                              "properties": {}
                            },
                            "acmpyNeedMtr": {
                              "type": "string",
                              "description": "동반시 필요사항",
                              "properties": {}
                            },
                            "relaFrnshPrdlst": {
                              "type": "string",
                              "description": "관련 비치 품목",
                              "properties": {}
                            },
                            "etcAcmpyInfo": {
                              "type": "string",
                              "description": "기타 동반정보",
                              "properties": {}
                            },
                            "relaPurcPrdlst": {
                              "type": "string",
                              "description": "관련 구매 품목",
                              "properties": {}
                            },
                            "relaAcdntRiskMtr": {
                              "type": "string",
                              "description": "관련 사고 대비사항",
                              "properties": {}
                            },
                            "acmpyTypeCd": {
                              "type": "string",
                              "description": "동반유형코드(동반구분)",
                              "properties": {}
                            },
                            "relaPosesFclty": {
                              "type": "string",
                              "description": "관련 구비 시설",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지 결과수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 페이지 번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "반려동물 동반 여행 정보",
        "description": "타입별 반려동물 동반 여행 정보를 조회하는 기능입니다.",
        "operationId": "detailPetTour2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WEB (웹), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "contentId",
          "description": "콘텐츠ID(옵션,미기입시 전체목록조회)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/categoryCode2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "코드명 : 대,중,소분류코드명",
                              "properties": {}
                            },
                            "rnum": {
                              "type": "string",
                              "description": "일련번호",
                              "properties": {}
                            },
                            "code": {
                              "type": "string",
                              "description": "코드 : 대,중,소분류코드",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "서비스분류코드조회",
        "description": "미사용 기능 (삭제예정-분류체계 코드로 대체)",
        "operationId": "categoryCode2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WEB (웹), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "contentTypeId",
          "description": "관광타입(12:관광지, 14:문화시설, 15:축제공연행사, 25:여행코스, 28:레포츠, 32:숙박, 38:쇼핑, 39:음식점) ID",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat1",
          "description": "대분류코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat2",
          "description": "중분류코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat3",
          "description": "소분류코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/areaBasedList2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "lclsSystm3": {
                              "type": "string",
                              "description": "분류체계 3Deth",
                              "properties": {}
                            },
                            "firstimage": {
                              "type": "string",
                              "description": "대표이미지(원본)",
                              "properties": {}
                            },
                            "firstimage2": {
                              "type": "string",
                              "description": "대표이미지(썸네일)",
                              "properties": {}
                            },
                            "mapx": {
                              "type": "string",
                              "description": "GPS X좌표",
                              "properties": {}
                            },
                            "mapy": {
                              "type": "string",
                              "description": "GPS Y좌표",
                              "properties": {}
                            },
                            "mlevel": {
                              "type": "string",
                              "description": "Map Level",
                              "properties": {}
                            },
                            "addr2": {
                              "type": "string",
                              "description": "상세주소",
                              "properties": {}
                            },
                            "areacode": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-법정동 시도코드 대체)",
                              "properties": {}
                            },
                            "modifiedtime": {
                              "type": "string",
                              "description": "수정일",
                              "properties": {}
                            },
                            "cpyrhtDivCd": {
                              "type": "string",
                              "description": "저작권 유형 (Type1:제1유형(출처표시-권장), Type3:제3유형(제1유형+변경금지)",
                              "properties": {}
                            },
                            "cat1": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 1Deth 코드로 대체)",
                              "properties": {}
                            },
                            "sigungucode": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-법정동 시군구 코드 대체)",
                              "properties": {}
                            },
                            "tel": {
                              "type": "string",
                              "description": "전화번호",
                              "properties": {}
                            },
                            "title": {
                              "type": "string",
                              "description": "제목",
                              "properties": {}
                            },
                            "addr1": {
                              "type": "string",
                              "description": "주소",
                              "properties": {}
                            },
                            "cat2": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 2Deth 코드로 대체)",
                              "properties": {}
                            },
                            "cat3": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 3Deth 코드로 대체)",
                              "properties": {}
                            },
                            "contentid": {
                              "type": "string",
                              "description": "콘텐츠ID",
                              "properties": {}
                            },
                            "contenttypeid": {
                              "type": "string",
                              "description": "콘텐츠타입ID",
                              "properties": {}
                            },
                            "createdtime": {
                              "type": "string",
                              "description": "등록일",
                              "properties": {}
                            },
                            "zipcode": {
                              "type": "string",
                              "description": "우편번호",
                              "properties": {}
                            },
                            "lDongRegnCd": {
                              "type": "string",
                              "description": "법정동 시도 코드",
                              "properties": {}
                            },
                            "lDongSignguCd": {
                              "type": "string",
                              "description": "법정동 시군구 코드",
                              "properties": {}
                            },
                            "lclsSystm1": {
                              "type": "string",
                              "description": "분류체계 1Deth",
                              "properties": {}
                            },
                            "lclsSystm2": {
                              "type": "string",
                              "description": "분류체계 2Deth",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "지역기반 관광정보조회",
        "description": "지역기반 관광정보파라미터 타입에 따라서 제목순,수정일순,등록일순 정렬검색목록을 조회하는 기능",
        "operationId": "areaBasedList2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WEB (웹), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "arrange",
          "description": "정렬구분 (A=제목순, C=수정일순, D=생성일순) 대표이미지가반드시있는정렬(O=제목순, Q=수정일순, R=생성일순)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "contentTypeId",
          "description": "관광타입(12:관광지, 14:문화시설, 15:축제공연행사, 25:여행코스, 28:레포츠, 32:숙박, 38:쇼핑, 39:음식점) ID",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "areaCode",
          "description": "미사용항목(삭제예정-법정동 시도코드 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "sigunguCode",
          "description": "미사용항목(삭제예정-법정동 시군구 코드 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat1",
          "description": "미사용항목(삭제예정-분류체계 1Deth 코드로 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat2",
          "description": "미사용항목(삭제예정-분류체계 2Deth 코드로 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat3",
          "description": "미사용항목(삭제예정-분류체계 3Deth 코드로 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "modifiedtime",
          "description": "수정일(형식 :YYYYMMDD)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "lDongRegnCd",
          "description": "법정동 시도 코드(법정동코드조회 참고)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lDongSignguCd",
          "description": "법정동 시군구 코드(법정동코드조회 참고, lDongRegnCd 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm1",
          "description": "분류체계 1Deth(분류체계코드조회 참고)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm2",
          "description": "분류체계 2Deth(분류체계코드조회 참고, lclsSystm1 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm3",
          "description": "분류체계 3Deth(분류체계코드조회 참고, lclsSystm1/lclsSystm2 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/locationBasedList2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "zipcode": {
                              "type": "string",
                              "description": "우편번호",
                              "properties": {}
                            },
                            "lclsSystm3": {
                              "type": "string",
                              "description": "분류체계 3Deth",
                              "properties": {}
                            },
                            "contentid": {
                              "type": "string",
                              "description": "콘텐츠ID",
                              "properties": {}
                            },
                            "addr2": {
                              "type": "string",
                              "description": "상세주소",
                              "properties": {}
                            },
                            "firstimage2": {
                              "type": "string",
                              "description": "대표이미지(썸네일)",
                              "properties": {}
                            },
                            "cpyrhtDivCd": {
                              "type": "string",
                              "description": "저작권 유형 (Type1:제1유형(출처표시-권장), Type3:제3유형(제1유형+변경금지)",
                              "properties": {}
                            },
                            "addr1": {
                              "type": "string",
                              "description": "주소",
                              "properties": {}
                            },
                            "contenttypeid": {
                              "type": "string",
                              "description": "콘텐츠타입ID",
                              "properties": {}
                            },
                            "createdtime": {
                              "type": "string",
                              "description": "등록일",
                              "properties": {}
                            },
                            "dist": {
                              "type": "string",
                              "description": "거리",
                              "properties": {}
                            },
                            "firstimage": {
                              "type": "string",
                              "description": "대표이미지(원본)",
                              "properties": {}
                            },
                            "areacode": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-법정동 시도 코드로 대체)",
                              "properties": {}
                            },
                            "mapx": {
                              "type": "string",
                              "description": "GPS X좌표",
                              "properties": {}
                            },
                            "mapy": {
                              "type": "string",
                              "description": "GPS Y좌표",
                              "properties": {}
                            },
                            "mlevel": {
                              "type": "string",
                              "description": "Map Level",
                              "properties": {}
                            },
                            "modifiedtime": {
                              "type": "string",
                              "description": "수정일",
                              "properties": {}
                            },
                            "sigungucode": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-법정동 시군구 코드 대체)",
                              "properties": {}
                            },
                            "tel": {
                              "type": "string",
                              "description": "전화번호",
                              "properties": {}
                            },
                            "title": {
                              "type": "string",
                              "description": "제목",
                              "properties": {}
                            },
                            "cat1": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 1Deth대체)",
                              "properties": {}
                            },
                            "cat2": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 2Deth대체)",
                              "properties": {}
                            },
                            "cat3": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 3Deth대체)",
                              "properties": {}
                            },
                            "lDongRegnCd": {
                              "type": "string",
                              "description": "법정동 시도 코드",
                              "properties": {}
                            },
                            "lDongSignguCd": {
                              "type": "string",
                              "description": "법정동 시군구 코드",
                              "properties": {}
                            },
                            "lclsSystm1": {
                              "type": "string",
                              "description": "분류체계 1Deth",
                              "properties": {}
                            },
                            "lclsSystm2": {
                              "type": "string",
                              "description": "분류체계 2Deth",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "위치기반 관광정보조회",
        "description": "위치기반 관광정보파라미터 타입에 따라서 제목순,수정일순,등록일순,거리순 정렬검색목록을 조회하는 기능",
        "operationId": "locationBasedList2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WEB (웹), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "arrange",
          "description": "(A=제목순,C=수정일순, D=생성일순, E=거리순) 대표이미지가 반드시 있는 정렬 (O=제목순, Q=수정일순, R=생성일순,S=거리순)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "mapX",
          "description": "GPS X좌표(WGS84 경도좌표)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "mapY",
          "description": "GPS Y좌표(WGS84 위도좌표)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "radius",
          "description": "거리반경(단위:m) , Max값 20000m=20Km",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "contentTypeId",
          "description": "관광타입(12:관광지, 14:문화시설, 15:축제공연행사, 25:여행코스, 28:레포츠, 32:숙박, 38:쇼핑, 39:음식점) ID",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "modifiedtime",
          "description": "수정일(형식 :YYYYMMDD)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "lDongRegnCd",
          "description": "법정동 시도 코드(법정동코드조회 참고)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lDongSignguCd",
          "description": "법정동 시군구 코드(법정동코드조회 참고, lDongRegnCd 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm1",
          "description": "분류체계 1Deth(분류체계코드조회 참고)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm2",
          "description": "분류체계 2Deth(분류체계코드조회 참고, lclsSystm1 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm3",
          "description": "분류체계 3Deth(분류체계코드조회 참고, lclsSystm1/lclsSystm2 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "areaCode",
          "description": "미사용항목(삭제예정-법정동 시도 코드로 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "sigunguCode",
          "description": "미사용항목(삭제예정-법정동 시군구 코드 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat1",
          "description": "미사용항목(삭제예정-분류체계 1Deth대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat2",
          "description": "미사용항목(삭제예정-분류체계 2Deth대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat3",
          "description": "미사용항목(삭제예정-분류체계 3Deth대체)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/searchKeyword2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "lclsSystm3": {
                              "type": "string",
                              "description": "분류체계 3Deth",
                              "properties": {}
                            },
                            "cpyrhtDivCd": {
                              "type": "string",
                              "description": "저작권 유형 (Type1:제1유형(출처표시-권장), Type3:제3유형(제1유형+변경금지)",
                              "properties": {}
                            },
                            "firstimage": {
                              "type": "string",
                              "description": "대표이미지(원본)",
                              "properties": {}
                            },
                            "sigungucode": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-법정동 시군구 코드 대체)",
                              "properties": {}
                            },
                            "cat1": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 1Deth 코드로 대체)",
                              "properties": {}
                            },
                            "cat2": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 2Deth 코드로 대체)",
                              "properties": {}
                            },
                            "cat3": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 3Deth 코드로 대체)",
                              "properties": {}
                            },
                            "contentid": {
                              "type": "string",
                              "description": "콘텐츠ID",
                              "properties": {}
                            },
                            "tel": {
                              "type": "string",
                              "description": "전화번호",
                              "properties": {}
                            },
                            "title": {
                              "type": "string",
                              "description": "제목",
                              "properties": {}
                            },
                            "addr1": {
                              "type": "string",
                              "description": "주소",
                              "properties": {}
                            },
                            "areacode": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-법정동 시도코드 대체)",
                              "properties": {}
                            },
                            "mapy": {
                              "type": "string",
                              "description": "GPS Y좌표",
                              "properties": {}
                            },
                            "mlevel": {
                              "type": "string",
                              "description": "Map Level",
                              "properties": {}
                            },
                            "modifiedtime": {
                              "type": "string",
                              "description": "수정일",
                              "properties": {}
                            },
                            "firstimage2": {
                              "type": "string",
                              "description": "대표이미지(썸네일)",
                              "properties": {}
                            },
                            "mapx": {
                              "type": "string",
                              "description": "GPS X좌표",
                              "properties": {}
                            },
                            "contenttypeid": {
                              "type": "string",
                              "description": "콘텐츠타입ID",
                              "properties": {}
                            },
                            "addr2": {
                              "type": "string",
                              "description": "상세주소",
                              "properties": {}
                            },
                            "createdtime": {
                              "type": "string",
                              "description": "등록일",
                              "properties": {}
                            },
                            "zipcode": {
                              "type": "string",
                              "description": "우편번호",
                              "properties": {}
                            },
                            "lDongRegnCd": {
                              "type": "string",
                              "description": "법정동 시도코드",
                              "properties": {}
                            },
                            "lDongSignguCd": {
                              "type": "string",
                              "description": "법정동 시군구코드",
                              "properties": {}
                            },
                            "lclsSystm1": {
                              "type": "string",
                              "description": "분류체계 1Deth",
                              "properties": {}
                            },
                            "lclsSystm2": {
                              "type": "string",
                              "description": "분류체계 2Deth",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "키워드 검색 조회",
        "description": "키워드로 검색을하며 전체별 타입정보별 목록을 조회한다",
        "operationId": "searchKeyword2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WEB (웹), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "arrange",
          "description": "정렬구분 (A=제목순, C=수정일순, D=생성일순) 대표이미지가반드시있는정렬(O=제목순, Q=수정일순, R=생성일순)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "keyword",
          "description": "검색요청할키워드 : (국문=인코딩필요)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "areaCode",
          "description": "미사용항목(삭제예정-법정동 시도코드 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "sigunguCode",
          "description": "미사용항목(삭제예정-법정동 시군구 코드 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat1",
          "description": "미사용항목(삭제예정-분류체계 1Deth 코드로 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat2",
          "description": "미사용항목(삭제예정-분류체계 2Deth 코드로 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat3",
          "description": "미사용항목(삭제예정-분류체계 3Deth 코드로 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lDongRegnCd",
          "description": "법정동 시도코드(법정동코드조회 참고)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lDongSignguCd",
          "description": "법정동 시군구코드(법정동코드조회 참고, lDongRegnCd 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm1",
          "description": "분류체계 1Deth(분류체계코드조회 참고)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm2",
          "description": "분류체계 2Deth(분류체계코드조회 참고, lclsSystm1 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm3",
          "description": "분류체계 3Deth(분류체계코드조회 참고, lclsSystm1/lclsSystm2 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/searchFestival2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "lclsSystm2": {
                              "type": "string",
                              "description": "분류체계 2Deth",
                              "properties": {}
                            },
                            "lclsSystm3": {
                              "type": "string",
                              "description": "분류체계 3Deth",
                              "properties": {}
                            },
                            "tel": {
                              "type": "string",
                              "description": "전화번호",
                              "properties": {}
                            },
                            "title": {
                              "type": "string",
                              "description": "제목",
                              "properties": {}
                            },
                            "addr1": {
                              "type": "string",
                              "description": "주소",
                              "properties": {}
                            },
                            "addr2": {
                              "type": "string",
                              "description": "상세주소",
                              "properties": {}
                            },
                            "areacode": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-법정동 시도코드 대체)",
                              "properties": {}
                            },
                            "cat1": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 1Deth 코드로 대체)",
                              "properties": {}
                            },
                            "cat2": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 2Deth 코드로 대체)",
                              "properties": {}
                            },
                            "cat3": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 3Deth 코드로 대체)",
                              "properties": {}
                            },
                            "contentid": {
                              "type": "string",
                              "description": "콘텐츠ID",
                              "properties": {}
                            },
                            "contenttypeid": {
                              "type": "string",
                              "description": "콘텐츠타입ID",
                              "properties": {}
                            },
                            "createdtime": {
                              "type": "string",
                              "description": "등록일",
                              "properties": {}
                            },
                            "eventstartdate": {
                              "type": "string",
                              "description": "행사시작일(형식 : YYYYMMDD)",
                              "properties": {}
                            },
                            "cpyrhtDivCd": {
                              "type": "string",
                              "description": "저작권 유형 (Type1:제1유형(출처표시-권장), Type3:제3유형(제1유형+변경금지)",
                              "properties": {}
                            },
                            "eventenddate": {
                              "type": "string",
                              "description": "행사종료일(형식 : YYYYMMDD)",
                              "properties": {}
                            },
                            "firstimage": {
                              "type": "string",
                              "description": "대표이미지(원본)",
                              "properties": {}
                            },
                            "firstimage2": {
                              "type": "string",
                              "description": "대표이미지(썸네일)",
                              "properties": {}
                            },
                            "mapx": {
                              "type": "string",
                              "description": "GPS X좌표",
                              "properties": {}
                            },
                            "mapy": {
                              "type": "string",
                              "description": "GPS Y좌표",
                              "properties": {}
                            },
                            "mlevel": {
                              "type": "string",
                              "description": "Map Level",
                              "properties": {}
                            },
                            "modifiedtime": {
                              "type": "string",
                              "description": "수정일",
                              "properties": {}
                            },
                            "sigungucode": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-법정동 시군구 코드 대체)",
                              "properties": {}
                            },
                            "zipcode": {
                              "type": "string",
                              "description": "우편번호",
                              "properties": {}
                            },
                            "progresstype": {
                              "type": "string",
                              "description": "축제형태(취소,행사연기)",
                              "properties": {}
                            },
                            "festivaltype": {
                              "type": "string",
                              "description": "진행형태(상시,온라인,격년제)",
                              "properties": {}
                            },
                            "lDongRegnCd": {
                              "type": "string",
                              "description": "법정동 시도코드",
                              "properties": {}
                            },
                            "lDongSignguCd": {
                              "type": "string",
                              "description": "법정동 시군구코드",
                              "properties": {}
                            },
                            "lclsSystm1": {
                              "type": "string",
                              "description": "분류체계 1Deth",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "행사정보조회",
        "description": "행사정보목록을 조회한다. 컨텐츠 타입이 ‘행사’일 경우에만 유효하다",
        "operationId": "searchFestival2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WEB (웹), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "arrange",
          "description": "정렬구분 (A=제목순, C=수정일순, D=생성일순) 대표이미지가반드시있는정렬(O=제목순, Q=수정일순, R=생성일순)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "eventStartDate",
          "description": "행사시작일(형식 :YYYYMMDD)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "eventEndDate",
          "description": "행사종료일(형식 :YYYYMMDD)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "areaCode",
          "description": "미사용항목(삭제예정-법정동 시도코드 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "sigunguCode",
          "description": "미사용항목(삭제예정-법정동 시군구 코드 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat1",
          "description": "미사용항목(삭제예정-분류체계 1Deth 코드로 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat2",
          "description": "미사용항목(삭제예정-분류체계 2Deth 코드로 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat3",
          "description": "미사용항목(삭제예정-분류체계 3Deth 코드로 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lDongRegnCd",
          "description": "법정동 시도코드(법정동코드조회 참고)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lDongSignguCd",
          "description": "법정동 시군구코드(법정동코드조회 참고, lDongRegnCd 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm1",
          "description": "분류체계 1Deth(분류체계코드조회 참고)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm2",
          "description": "분류체계 2Deth(분류체계코드조회 참고, lclsSystm1 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm3",
          "description": "분류체계 3Deth(분류체계코드조회 참고, lclsSystm1/lclsSystm2 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "modifiedtime",
          "description": "수정일(형식 :YYYYMMDD)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/searchStay2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "lclsSystm3": {
                              "type": "string",
                              "description": "분류체계 3Deth",
                              "properties": {}
                            },
                            "addr1": {
                              "type": "string",
                              "description": "주소",
                              "properties": {}
                            },
                            "cpyrhtDivCd": {
                              "type": "string",
                              "description": "저작권 유형 (Type1:제1유형(출처표시-권장), Type3:제3유형(제1유형+변경금지)",
                              "properties": {}
                            },
                            "mapy": {
                              "type": "string",
                              "description": "GPS Y좌표",
                              "properties": {}
                            },
                            "mlevel": {
                              "type": "string",
                              "description": "Map Level",
                              "properties": {}
                            },
                            "modifiedtime": {
                              "type": "string",
                              "description": "수정일",
                              "properties": {}
                            },
                            "sigungucode": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-법정동 시군구 코드 대체)",
                              "properties": {}
                            },
                            "tel": {
                              "type": "string",
                              "description": "전화번호",
                              "properties": {}
                            },
                            "title": {
                              "type": "string",
                              "description": "제목",
                              "properties": {}
                            },
                            "contentid": {
                              "type": "string",
                              "description": "콘텐츠ID",
                              "properties": {}
                            },
                            "contenttypeid": {
                              "type": "string",
                              "description": "콘텐츠타입ID",
                              "properties": {}
                            },
                            "createdtime": {
                              "type": "string",
                              "description": "등록일",
                              "properties": {}
                            },
                            "firstimage": {
                              "type": "string",
                              "description": "대표이미지(원본)",
                              "properties": {}
                            },
                            "firstimage2": {
                              "type": "string",
                              "description": "대표이미지(썸네일)",
                              "properties": {}
                            },
                            "mapx": {
                              "type": "string",
                              "description": "GPS X좌표",
                              "properties": {}
                            },
                            "addr2": {
                              "type": "string",
                              "description": "상세주소",
                              "properties": {}
                            },
                            "areacode": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-법정동 시도코드 대체)",
                              "properties": {}
                            },
                            "cat1": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 1Deth 코드로 대체)",
                              "properties": {}
                            },
                            "cat2": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 2Deth 코드로 대체)",
                              "properties": {}
                            },
                            "cat3": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 3Deth 코드로 대체)",
                              "properties": {}
                            },
                            "zipcode": {
                              "type": "string",
                              "description": "우편번호",
                              "properties": {}
                            },
                            "lDongRegnCd": {
                              "type": "string",
                              "description": "법정동 시도코드",
                              "properties": {}
                            },
                            "lDongSignguCd": {
                              "type": "string",
                              "description": "법정동 시군구코드",
                              "properties": {}
                            },
                            "lclsSystm1": {
                              "type": "string",
                              "description": "분류체계 1Deth",
                              "properties": {}
                            },
                            "lclsSystm2": {
                              "type": "string",
                              "description": "분류체계 2Deth",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "숙박정보조회",
        "description": "숙박정보 검색목록을 조회한다. 컨텐츠 타입이 ‘숙박’일 경우에만 유효하다.",
        "operationId": "searchStay2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WEB (웹), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "arrange",
          "description": "정렬구분 (A=제목순, C=수정일순, D=생성일순) 대표이미지가반드시있는정렬(O=제목순, Q=수정일순, R=생성일순)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "areaCode",
          "description": "미사용항목(삭제예정-법정동 시도코드 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "sigunguCode",
          "description": " 미사용항목(삭제예정-법정동 시군구 코드 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat1",
          "description": "미사용항목(삭제예정-분류체계 1Deth 코드로 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat2",
          "description": "미사용항목(삭제예정-분류체계 2Deth 코드로 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat3",
          "description": "미사용항목(삭제예정-분류체계 3Deth 코드로 대체)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lDongRegnCd",
          "description": "법정동 시도코드(법정동코드조회 참고)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "lDongSignguCd",
          "description": "법정동 시군구코드(법정동코드조회 참고, lDongRegnCd 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm1",
          "description": "분류체계 1Deth(분류체계코드조회 참고)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm2",
          "description": "분류체계 2Deth(분류체계코드조회 참고, lclsSystm1 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm3",
          "description": "분류체계 3Deth(분류체계코드조회 참고, lclsSystm1/lclsSystm2 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "modifiedtime",
          "description": "수정일(형식 :YYYYMMDD)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/detailCommon2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "lclsSystm3": {
                              "type": "string",
                              "description": "분류체계 3Deth",
                              "properties": {}
                            },
                            "overview": {
                              "type": "string",
                              "description": "개요",
                              "properties": {}
                            },
                            "contentid": {
                              "type": "string",
                              "description": "콘텐츠ID",
                              "properties": {}
                            },
                            "sigungucode": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-법정동 시군구 코드 대체)",
                              "properties": {}
                            },
                            "cat1": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 1Deth 코드로 대체)",
                              "properties": {}
                            },
                            "cat2": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 2Deth 코드로 대체)",
                              "properties": {}
                            },
                            "cat3": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-분류체계 3Deth 코드로 대체)",
                              "properties": {}
                            },
                            "addr1": {
                              "type": "string",
                              "description": "주소",
                              "properties": {}
                            },
                            "addr2": {
                              "type": "string",
                              "description": "상세주소",
                              "properties": {}
                            },
                            "zipcode": {
                              "type": "string",
                              "description": "우편번호",
                              "properties": {}
                            },
                            "mapx": {
                              "type": "string",
                              "description": "GPS X좌표",
                              "properties": {}
                            },
                            "mapy": {
                              "type": "string",
                              "description": "GPS Y좌표",
                              "properties": {}
                            },
                            "mlevel": {
                              "type": "string",
                              "description": "Map Level",
                              "properties": {}
                            },
                            "cpyrhtDivCd": {
                              "type": "string",
                              "description": "저작권 유형 (Type1:제1유형(출처표시-권장), Type3:제3유형(제1유형+변경금지)",
                              "properties": {}
                            },
                            "contenttypeid": {
                              "type": "string",
                              "description": "콘텐츠타입ID",
                              "properties": {}
                            },
                            "createdtime": {
                              "type": "string",
                              "description": "등록일",
                              "properties": {}
                            },
                            "homepage": {
                              "type": "string",
                              "description": "홈페이지주소",
                              "properties": {}
                            },
                            "modifiedtime": {
                              "type": "string",
                              "description": "수정일",
                              "properties": {}
                            },
                            "tel": {
                              "type": "string",
                              "description": "전화번호",
                              "properties": {}
                            },
                            "telname": {
                              "type": "string",
                              "description": "전화번호명",
                              "properties": {}
                            },
                            "title": {
                              "type": "string",
                              "description": "콘텐츠명(제목)",
                              "properties": {}
                            },
                            "firstimage": {
                              "type": "string",
                              "description": "대표이미지(원본)",
                              "properties": {}
                            },
                            "firstimage2": {
                              "type": "string",
                              "description": "대표이미지(썸네일)",
                              "properties": {}
                            },
                            "areacode": {
                              "type": "string",
                              "description": "미사용항목(삭제예정-법정동 시도코드 대체)",
                              "properties": {}
                            },
                            "lDongRegnCd": {
                              "type": "string",
                              "description": "법정동 시도코드",
                              "properties": {}
                            },
                            "lDongSignguCd": {
                              "type": "string",
                              "description": "법정동 시군구코드",
                              "properties": {}
                            },
                            "lclsSystm1": {
                              "type": "string",
                              "description": "분류체계 1Deth",
                              "properties": {}
                            },
                            "lclsSystm2": {
                              "type": "string",
                              "description": "분류체계 2Deth",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "공통정보조회",
        "description": "타입별공통 정보기본정보,약도이미지,대표이미지,분류정보,지역정보,주소정보,좌표정보,개요정보,길안내정보,이미지정보,연계관광정보목록을 조회하는 기능",
        "operationId": "detailCommon2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WEB (웹), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "contentId",
          "description": "콘텐츠ID",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/detailIntro2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "chkpetculture": {
                              "type": "string",
                              "description": "문화시설(14) : 애완동물동반가능정보",
                              "properties": {}
                            },
                            "eventhomepage": {
                              "type": "string",
                              "description": "행사공연축제(15) : 행사홈페이지",
                              "properties": {}
                            },
                            "eventplace": {
                              "type": "string",
                              "description": "행사공연축제(15) : 행사장소",
                              "properties": {}
                            },
                            "parkingleports": {
                              "type": "string",
                              "description": "레포츠(28) : 주차시설",
                              "properties": {}
                            },
                            "reservation": {
                              "type": "string",
                              "description": "레포츠(28) : 예약안내",
                              "properties": {}
                            },
                            "restdateleports": {
                              "type": "string",
                              "description": "레포츠(28) : 쉬는날",
                              "properties": {}
                            },
                            "eventstartdate": {
                              "type": "string",
                              "description": "행사공연축제(15) : 행사시작일",
                              "properties": {}
                            },
                            "festivalgrade": {
                              "type": "string",
                              "description": "행사공연축제(15) : 축제등급",
                              "properties": {}
                            },
                            "karaoke": {
                              "type": "string",
                              "description": "숙박(32) : 노래방여부",
                              "properties": {}
                            },
                            "discountinfofood": {
                              "type": "string",
                              "description": "음식점(39) : 할인정보",
                              "properties": {}
                            },
                            "firstmenu": {
                              "type": "string",
                              "description": "음식점(39) : 대표메뉴",
                              "properties": {}
                            },
                            "infocenterfood": {
                              "type": "string",
                              "description": "음식점(39) : 문의및안내",
                              "properties": {}
                            },
                            "kidsfacility": {
                              "type": "string",
                              "description": "음식점(39) : 어린이놀이방여부",
                              "properties": {}
                            },
                            "opendatefood": {
                              "type": "string",
                              "description": "음식점(39) : 개업일",
                              "properties": {}
                            },
                            "opentimefood": {
                              "type": "string",
                              "description": "음식점(39) : 영업시간",
                              "properties": {}
                            },
                            "packing": {
                              "type": "string",
                              "description": "음식점(39) : 포장가능",
                              "properties": {}
                            },
                            "parkingfood": {
                              "type": "string",
                              "description": "음식점(39) : 주차시설",
                              "properties": {}
                            },
                            "reservationfood": {
                              "type": "string",
                              "description": "음식점(39) : 예약안내",
                              "properties": {}
                            },
                            "chkcreditcardculture": {
                              "type": "string",
                              "description": "문화시설(14) : 신용카드가능정보",
                              "properties": {}
                            },
                            "scaleleports": {
                              "type": "string",
                              "description": "레포츠(28) : 규모",
                              "properties": {}
                            },
                            "usefeeleports": {
                              "type": "string",
                              "description": "레포츠(28) : 입장료",
                              "properties": {}
                            },
                            "discountinfofestival": {
                              "type": "string",
                              "description": "행사공연축제(15) : 할인정보",
                              "properties": {}
                            },
                            "chkcreditcardfood": {
                              "type": "string",
                              "description": "음식점(39) : 신용카드가능정보",
                              "properties": {}
                            },
                            "eventenddate": {
                              "type": "string",
                              "description": "행사공연축제(15) : 행사종료일",
                              "properties": {}
                            },
                            "playtime": {
                              "type": "string",
                              "description": "행사공연축제(15) : 공연시간",
                              "properties": {}
                            },
                            "chkbabycarriageculture": {
                              "type": "string",
                              "description": "문화시설(14) : 유모차대여정보",
                              "properties": {}
                            },
                            "roomcount": {
                              "type": "string",
                              "description": "숙박(32) : 객실수",
                              "properties": {}
                            },
                            "reservationlodging": {
                              "type": "string",
                              "description": "숙박(32) : 예약안내",
                              "properties": {}
                            },
                            "reservationurl": {
                              "type": "string",
                              "description": "숙박(32) : 예약안내홈페이지",
                              "properties": {}
                            },
                            "roomtype": {
                              "type": "string",
                              "description": "숙박(32) : 객실유형",
                              "properties": {}
                            },
                            "scalelodging": {
                              "type": "string",
                              "description": "숙박(32) : 규모",
                              "properties": {}
                            },
                            "subfacility": {
                              "type": "string",
                              "description": "숙박(32) : 부대시설 (기타)",
                              "properties": {}
                            },
                            "barbecue": {
                              "type": "string",
                              "description": "숙박(32) : 바비큐장여부",
                              "properties": {}
                            },
                            "beauty": {
                              "type": "string",
                              "description": "숙박(32) : 뷰티시설정보",
                              "properties": {}
                            },
                            "beverage": {
                              "type": "string",
                              "description": "숙박(32) : 식음료장여부",
                              "properties": {}
                            },
                            "bicycle": {
                              "type": "string",
                              "description": "숙박(32) : 자전거대여여부",
                              "properties": {}
                            },
                            "campfire": {
                              "type": "string",
                              "description": "숙박(32) : 캠프파이어여부",
                              "properties": {}
                            },
                            "fitness": {
                              "type": "string",
                              "description": "숙박(32) : 휘트니스센터여부",
                              "properties": {}
                            },
                            "placeinfo": {
                              "type": "string",
                              "description": "행사공연축제(15) : 행사장위치안내",
                              "properties": {}
                            },
                            "parkinglodging": {
                              "type": "string",
                              "description": "숙박(32) : 주차시설",
                              "properties": {}
                            },
                            "pickup": {
                              "type": "string",
                              "description": "숙박(32) : 픽업서비스",
                              "properties": {}
                            },
                            "publicbath": {
                              "type": "string",
                              "description": "숙박(32) : 공용샤워실여부",
                              "properties": {}
                            },
                            "opendate": {
                              "type": "string",
                              "description": "관광지(12) : 개장일",
                              "properties": {}
                            },
                            "parking": {
                              "type": "string",
                              "description": "관광지(12) : 주차시설",
                              "properties": {}
                            },
                            "restdate": {
                              "type": "string",
                              "description": "관광지(12) : 쉬는날",
                              "properties": {}
                            },
                            "usetimeleports": {
                              "type": "string",
                              "description": "레포츠(28) : 이용시간",
                              "properties": {}
                            },
                            "foodplace": {
                              "type": "string",
                              "description": "숙박(32) : 식음료장",
                              "properties": {}
                            },
                            "infocenterlodging": {
                              "type": "string",
[...]
