{
  "swagger": "2.0",
  "info": {
    "description": "운영중인 전국 고속버스의 배차정보, 차량정보, 요금정보를 제공하는 서비스 입니다.\n고속버스 정보서비스는 고속버스 등급, 고속버스 터미널 목록, 도시코드 목록을 조회할수 있으며,  조회된 정보를 활용하여 출발/도착 터미널 ID를 통해 고속버스의 운행정보를 조회할수 있습니다. 제공되는 고속버스 정보에는 출발 터미널명, 도착 터미널명, 출발시간, 도착시간, 고속버스 등급, 노선ID, 요금정보가 제공됩니다.\n\n한번에 출력되는 데이터 목록수를 설정할수 있으며, 페이지 번호를 설정하여 전체 데이터를 분할하여 호출이 가능합니다.\n\n데이터 활용 추가 문의사항은 TAGO 운영팀(054-459-7870)으로 문의 바랍니다.",
    "version": "1.0.0",
    "title": "국토교통부_(TAGO)_고속버스정보"
  },
  "host": "apis.data.go.kr/1613000/ExpBusInfo",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/GetStrtpntAlocFndExpbusInfo": {
      "get": {
        "responses": {
          "98": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된 요청 파라메터 에러)"
          },
          "99": {
            "description": "UNKNOWN_ERROR(요청한 리소스를 찾을 수 없습니다)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "데이터 총 개수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "routeId": {
                              "type": "string",
                              "description": "노선ID",
                              "properties": {}
                            },
                            "arrPlaceNm": {
                              "type": "string",
                              "description": "도착지",
                              "properties": {}
                            },
                            "arrPlandTime": {
                              "type": "string",
                              "description": "도착시간(YYYYMMDDHHMI)",
                              "properties": {}
                            },
                            "charge": {
                              "type": "string",
                              "description": "운임(단위 : 원)",
                              "properties": {}
                            },
                            "depPlaceNm": {
                              "type": "string",
                              "description": "출발지",
                              "properties": {}
                            },
                            "depPlandTime": {
                              "type": "string",
                              "description": "출발시간(YYYYMMDDHHMI)",
                              "properties": {}
                            },
                            "gradeNm": {
                              "type": "string",
                              "description": "버스등급",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "출/도착지기반 고속버스정보 조회",
        "description": "출/도착지를 기반으로 고속버스의 운행정보를 조회하는 기능",
        "operationId": "GetStrtpntAlocFndExpbusInfo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "데이터 타입(xml, json)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "depTerminalId",
          "description": "출발터미널ID",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "arrTerminalId",
          "description": "도착터미널ID",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "depPlandTime",
          "description": "출발일(YYYYMMDD) * 누락시 오늘날짜 정보 출력",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "busGradeId",
          "description": "버스등급",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/GetExpBusTrminlList": {
      "get": {
        "responses": {
          "98": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된 요청 파라메터 에러)"
          },
          "99": {
            "description": "UNKNOWN_ERROR(요청한 리소스를 찾을 수 없습니다)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "terminalNm": {
                              "type": "string",
                              "description": "터미널명",
                              "properties": {}
                            },
                            "terminalId": {
                              "type": "string",
                              "description": "터미널ID",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "데이터 총 개수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "고속버스터미널 목록 조회",
        "description": "입력된 터미널명을 포함하는 고속버스 터미널정보를 조회하는 기능",
        "operationId": "GetExpBusTrminlList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "데이터 타입(xml, json)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "terminalNm",
          "description": "터미널명",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/GetExpBusGradList": {
      "get": {
        "responses": {
          "98": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된 요청 파라메터 에러)"
          },
          "99": {
            "description": "UNKNOWN_ERROR(요청한 리소스를 찾을 수 없습니다)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "gradeNm": {
                              "type": "string",
                              "description": "고속버스등급명",
                              "properties": {}
                            },
                            "gradeId": {
                              "type": "string",
                              "description": "고속버스등급코드",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "고속버스등급 목록 조회",
        "description": "고속버스 등급 목록을 조회하는 기능",
        "operationId": "GetExpBusGradList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "데이터 타입(xml, json)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/GetCtyCodeList": {
      "get": {
        "responses": {
          "98": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된 요청 파라메터 에러)"
          },
          "99": {
            "description": "UNKNOWN_ERROR(요청한 리소스를 찾을 수 없습니다)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "cityName": {
                              "type": "string",
                              "description": "도시명",
                              "properties": {}
                            },
                            "cityCode": {
                              "type": "string",
                              "description": "도시코드",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "도시코드 목록 조회",
        "description": "도시코드의 목록을 조회하는 기능",
        "operationId": "GetCtyCodeList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "데이터 타입(xml, json)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "GetStrtpntAlocFndExpbusInfo_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "totalCount": {
              "type": "string",
              "description": "데이터 총 개수"
            },
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "routeId": {
                      "type": "string",
                      "description": "노선ID"
                    },
                    "arrPlaceNm": {
                      "type": "string",
                      "description": "도착지"
                    },
                    "arrPlandTime": {
                      "type": "string",
                      "description": "도착시간(YYYYMMDDHHMI)"
                    },
                    "charge": {
                      "type": "string",
                      "description": "운임(단위 : 원)"
                    },
                    "depPlaceNm": {
                      "type": "string",
                      "description": "출발지"
                    },
                    "depPlandTime": {
                      "type": "string",
                      "description": "출발시간(YYYYMMDDHHMI)"
                    },
                    "gradeNm": {
                      "type": "string",
                      "description": "버스등급"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "string",
              "description": "한페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지 번호"
            }
          }
        }
      }
    },
    "GetExpBusTrminlList_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "terminalNm": {
                      "type": "string",
                      "description": "터미널명"
                    },
                    "terminalId": {
                      "type": "string",
                      "description": "터미널ID"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "string",
              "description": "한페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지 번호"
            },
            "totalCount": {
              "type": "string",
              "description": "데이터 총 개수"
            }
          }
        }
      }
    },
    "GetExpBusGradList_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "gradeNm": {
                      "type": "string",
                      "description": "고속버스등급명"
                    },
                    "gradeId": {
                      "type": "string",
                      "description": "고속버스등급코드"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetCtyCodeList_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "cityName": {
                      "type": "string",
                      "description": "도시명"
                    },
                    "cityCode": {
                      "type": "string",
                      "description": "도시코드"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}