{
  "swagger": "2.0",
  "info": {
    "description": "- 국내관광정보서비스 OpenAPI 신규 상세기능(법정동코드, 신분류코드) 안내 URL(https://api.visitkorea.or.kr/#/cmsNoticeDetail?no=207)\n- 장애인, 고령자, 영유아가족 등 '모든 관광객'이 이동의 불편 및 관광활동의 제약없이 이용할 수 있는 장애물 없는 정보이며,국내 최대 무장애 관광정보 포털 사이트 열린관광 모두의여행(access.visitkorea.or.kr) 홈페이지에서 제공하는 관광정보 중 저작권 등에 구애 없이 자유롭게 활용 가능한 정보만을 선별하여 OpenAPI를 통해서 최신정보를 제공하고 있습니다. \n- 개방 데이터는 지역코드정보, 서비스분류코드정보, 법정동코드정보, 분류체계코드정보, 지역기반관광정보, 위치기반관광정보, 키워드검색, 공통정보, 소개정보, 반복정보, 이미지정보, 무장애 정보, 무장애 여행정보 동기화 목록정보 13종 약 6만 건의 국내 관광에 대한 전반적인 정보를 국문로 제공합니다.\n- 모바일 앱 뿐만 아니라, 웹서비스, 태블릿, 홍보물, 잡지 등 다양한 매체에서 어플리케이션을 개발, 활용할 수 있으며 다양한 활용을 통해서 신규/융복합 관광서비스를 창출할 수 있습니다. \n※ 제공되는 데이터중 사진 자료의 경우, 피사체에 대한 명예훼손 및 인격권 침해 등 일반 정서에 반하는 용도의 사용 및 기업 CI,BI로의 이용 금지하고 있습니다. (공공누리 1유형, 3유형 이미지 제공됨)",
    "version": "1.0.0",
    "title": "한국관광공사_무장애 여행 정보"
  },
  "host": "apis.data.go.kr/B551011/KorWithService2",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/areaCode2": {
      "get": {
        "responses": {
          "10": {
            "description": "잘못된요청파라메터에러(INVALID_REQUEST_PARAMETER_ERROR)"
          },
          "11": {
            "description": "필수요청파라메터가없음(NO_MANDATORY_REQUEST_PARAMETERS_ERROR)"
          },
          "21": {
            "description": "일시적으로사용할수없는서비스키(TEMPORARILY_DISABLE_THE_SERVICEKEY_ERROR)"
          },
          "33": {
            "description": "서명되지않은호출(UNSIGNED_CALL_ERROR)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "rnum": {
                              "type": "string",
                              "description": "일련번호",
                              "properties": {}
                            },
                            "code": {
                              "type": "string",
                              "description": "코드 : 지역코드또는시군구코드",
                              "properties": {}
                            },
                            "name": {
                              "type": "string",
                              "description": "코드명 : 지역명또는시군구명",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "00": {
            "description": "정상(NORMAL_CODE)"
          },
          "02": {
            "description": "데이터베이스에러(DB_ERROR)"
          },
          "03": {
            "description": "데이터없음에러(NODATA_ERROR)"
          },
          "05": {
            "description": "서비스연결실패에러(SERVICETIMEOUT_ERROR)"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "지역코드조회",
        "description": "지역코드목록을 지역,시군구,읍면동 코드 목록을 조회하는 기능",
        "operationId": "areaCode2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WIN (윈도우폰), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "areaCode",
          "description": "지역코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/categoryCode2": {
      "get": {
        "responses": {
          "10": {
            "description": "잘못된요청파라메터에러(INVALID_REQUEST_PARAMETER_ERROR)"
          },
          "11": {
            "description": "필수요청파라메터가없음(NO_MANDATORY_REQUEST_PARAMETERS_ERROR)"
          },
          "21": {
            "description": "일시적으로사용할수없는서비스키(TEMPORARILY_DISABLE_THE_SERVICEKEY_ERROR)"
          },
          "33": {
            "description": "서명되지않은호출(UNSIGNED_CALL_ERROR)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "code": {
                              "type": "string",
                              "description": "코드 : 대,중,소분류코드",
                              "properties": {}
                            },
                            "name": {
                              "type": "string",
                              "description": "코드명 : 대,중,소분류코드명",
                              "properties": {}
                            },
                            "rnum": {
                              "type": "string",
                              "description": "일련번호",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "03": {
            "description": "데이터없음에러(NODATA_ERROR)"
          },
          "02": {
            "description": "데이터베이스에러(DB_ERROR)"
          },
          "00": {
            "description": "정상(NORMAL_CODE)"
          },
          "05": {
            "description": "서비스연결실패에러(SERVICETIMEOUT_ERROR)"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "서비스분류코드조회",
        "description": "서비스분류코드목록을 대,중,소분류로 조회하는 기능",
        "operationId": "categoryCode2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WIN (윈도우폰), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "contentTypeId",
          "description": "관광타입(12:관광지, 14:문화시설, 15:축제공연행사, 25:여행코스, 28:레포츠, 32:숙박, 38:쇼핑, 39:음식점) ID",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat1",
          "description": "대분류 코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat2",
          "description": "중분류 코드(cat1필수)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat3",
          "description": "소분류 코드(cat1,cat2필수)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/detailInfo2": {
      "get": {
        "responses": {
          "10": {
            "description": "잘못된요청파라메터에러(INVALID_REQUEST_PARAMETER_ERROR)"
          },
          "11": {
            "description": "필수요청파라메터가없음(NO_MANDATORY_REQUEST_PARAMETERS_ERROR)"
          },
          "21": {
            "description": "일시적으로사용할수없는서비스키(TEMPORARILY_DISABLE_THE_SERVICEKEY_ERROR)"
          },
          "33": {
            "description": "서명되지않은호출(UNSIGNED_CALL_ERROR)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "roomimg5": {
                              "type": "string",
                              "description": "숙박(32) : 객실사진5",
                              "properties": {}
                            },
                            "roompeakseasonminfee1": {
                              "type": "string",
                              "description": "숙박(32) : 성수기주중최소",
                              "properties": {}
                            },
                            "roompeakseasonminfee2": {
                              "type": "string",
                              "description": "숙박(32) : 성수기주말최소",
                              "properties": {}
                            },
                            "roomintro": {
                              "type": "string",
                              "description": "숙박(32) : 객실소개",
                              "properties": {}
                            },
                            "roombathfacility": {
                              "type": "string",
                              "description": "숙박(32) : 목욕시설여부",
                              "properties": {}
                            },
                            "roombath": {
                              "type": "string",
                              "description": "숙박(32) : 욕조여부",
                              "properties": {}
                            },
                            "roomhometheater": {
                              "type": "string",
                              "description": "숙박(32) : 홈시어터여부",
                              "properties": {}
                            },
                            "roomaircondition": {
                              "type": "string",
                              "description": "숙박(32) : 에어컨여부",
                              "properties": {}
                            },
                            "roomcount": {
                              "type": "string",
                              "description": "숙박(32) : 객실수",
                              "properties": {}
                            },
                            "roombasecount": {
                              "type": "string",
                              "description": "숙박(32) : 기준인원",
                              "properties": {}
                            },
                            "roommaxcount": {
                              "type": "string",
                              "description": "숙박(32) : 최대인원",
                              "properties": {}
                            },
                            "roomoffseasonminfee1": {
                              "type": "string",
                              "description": "숙박(32) : 비수기주중최소",
                              "properties": {}
                            },
                            "roomoffseasonminfee2": {
                              "type": "string",
                              "description": "숙박(32) : 비수기주말최소",
                              "properties": {}
                            },
                            "roomimg5alt": {
                              "type": "string",
                              "description": "숙박(32) : 객실사진5 설명",
                              "properties": {}
                            },
                            "subname": {
                              "type": "string",
                              "description": "여행코스(25) : 코스명",
                              "properties": {}
                            },
                            "subnum": {
                              "type": "string",
                              "description": "여행코스(25) : 반복일련번호",
                              "properties": {}
                            },
                            "roomcode": {
                              "type": "string",
                              "description": "숙박(32) : 객실코드",
                              "properties": {}
                            },
                            "roomtitle": {
                              "type": "string",
                              "description": "숙박(32) : 객실명칭",
                              "properties": {}
                            },
                            "roomsize1": {
                              "type": "string",
                              "description": "숙박(32) : 객실크기(평)",
                              "properties": {}
                            },
                            "roompc": {
                              "type": "string",
                              "description": "숙박(32) : PC 여부",
                              "properties": {}
                            },
                            "roomcable": {
                              "type": "string",
                              "description": "숙박(32) : 케이블설치여부",
                              "properties": {}
                            },
                            "roomtv": {
                              "type": "string",
                              "description": "숙박(32) : TV 여부",
                              "properties": {}
                            },
                            "roominternet": {
                              "type": "string",
                              "description": "숙박(32) : 인터넷여부",
                              "properties": {}
                            },
                            "roomrefrigerator": {
                              "type": "string",
                              "description": "숙박(32) : 냉장고여부",
                              "properties": {}
                            },
                            "roomtoiletries": {
                              "type": "string",
                              "description": "숙박(32) : 세면도구여부",
                              "properties": {}
                            },
                            "roomsofa": {
                              "type": "string",
                              "description": "숙박(32) : 소파여부",
                              "properties": {}
                            },
                            "roomcook": {
                              "type": "string",
                              "description": "숙박(32) : 취사용품여부",
                              "properties": {}
                            },
                            "roomtable": {
                              "type": "string",
                              "description": "숙박(32) : 테이블여부",
                              "properties": {}
                            },
                            "roomhairdryer": {
                              "type": "string",
                              "description": "숙박(32) : 드라이기여부",
                              "properties": {}
                            },
                            "roomimg2alt": {
                              "type": "string",
                              "description": "숙박(32) : 객실사진2 설명",
                              "properties": {}
                            },
                            "roomimg3": {
                              "type": "string",
                              "description": "숙박(32) : 객실사진3",
                              "properties": {}
                            },
                            "roomimg3alt": {
                              "type": "string",
                              "description": "숙박(32) : 객실사진3 설명",
                              "properties": {}
                            },
                            "roomimg4": {
                              "type": "string",
                              "description": "숙박(32) : 객실사진4",
                              "properties": {}
                            },
                            "roomimg4alt": {
                              "type": "string",
                              "description": "숙박(32) : 객실사진4 설명",
                              "properties": {}
                            },
                            "contentid": {
                              "type": "string",
                              "description": "기본정보 : 콘텐츠ID",
                              "properties": {}
                            },
                            "contenttypeid": {
                              "type": "string",
                              "description": "기본정보 : 콘텐츠타입ID",
                              "properties": {}
                            },
                            "fldgubun": {
                              "type": "string",
                              "description": "숙박/여행코스제외타입 : 일련번호",
                              "properties": {}
                            },
                            "infoname": {
                              "type": "string",
                              "description": "숙박/여행코스제외타입 : 제목",
                              "properties": {}
                            },
                            "infotext": {
                              "type": "string",
                              "description": "숙박/여행코스제외타입 : 내용",
                              "properties": {}
                            },
                            "serialnum": {
                              "type": "string",
                              "description": "숙박/여행코스제외타입 : 반복일련번호",
                              "properties": {}
                            },
                            "subcontentid": {
                              "type": "string",
                              "description": "여행코스(25) : 하위콘텐츠ID",
                              "properties": {}
                            },
                            "subdetailalt": {
                              "type": "string",
                              "description": "여행코스(25) : 코스이미지설명",
                              "properties": {}
                            },
                            "subdetailimg": {
                              "type": "string",
                              "description": "여행코스(25) : 코스이미지",
                              "properties": {}
                            },
                            "subdetailoverview": {
                              "type": "string",
                              "description": "여행코스(25) : 코스개요",
                              "properties": {}
                            },
                            "roomsize2": {
                              "type": "string",
                              "description": "숙박(32) : 객실크기(평방미터)",
                              "properties": {}
                            },
                            "roomimg1": {
                              "type": "string",
                              "description": "숙박(32) : 객실사진1",
                              "properties": {}
                            },
                            "roomimg1alt": {
                              "type": "string",
                              "description": "숙박(32) : 객실사진1 설명",
                              "properties": {}
                            },
                            "roomimg2": {
                              "type": "string",
                              "description": "숙박(32) : 객실사진2",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "00": {
            "description": "정상(NORMAL_CODE)"
          },
          "02": {
            "description": "데이터베이스에러(DB_ERROR)"
          },
          "03": {
            "description": "데이터없음에러(NODATA_ERROR)"
          },
          "05": {
            "description": "서비스연결실패에러(SERVICETIMEOUT_ERROR)"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "반복정보조회",
        "description": "추가 관광정보 상세내역을 조회한다. 상세반복정보를 안내URL의 무장애관광정보 상세 매뉴얼 문서를 참고하시기 바랍니다.",
        "operationId": "detailInfo2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WIN (윈도우폰), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "contentId",
          "description": "콘텐츠ID",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "contentTypeId",
          "description": "관광타입(12:관광지, 14:문화시설, 15:축제공연행사, 28:레포츠, 32:숙박, 38:쇼핑, 39:음식점) ID",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/detailImage2": {
      "get": {
        "responses": {
          "10": {
            "description": "잘못된요청파라메터에러(INVALID_REQUEST_PARAMETER_ERROR)"
          },
          "11": {
            "description": "필수요청파라메터가없음(NO_MANDATORY_REQUEST_PARAMETERS_ERROR)"
          },
          "21": {
            "description": "일시적으로사용할수없는서비스키(TEMPORARILY_DISABLE_THE_SERVICEKEY_ERROR)"
          },
          "33": {
            "description": "서명되지않은호출(UNSIGNED_CALL_ERROR)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "serialnum": {
                              "type": "string",
                              "description": "이미지일련번호",
                              "properties": {}
                            },
                            "smallimageurl": {
                              "type": "string",
                              "description": "썸네일이미지",
                              "properties": {}
                            },
                            "cpyrhtDivCd": {
                              "type": "string",
                              "description": "저작권 유형 (Type1:제1유형(출처표시-권장), Type3:제3유형(제1유형+변경금지)",
                              "properties": {}
                            },
                            "contentid": {
                              "type": "string",
                              "description": "기본정보 : 콘텐츠ID",
                              "properties": {}
                            },
                            "imgname": {
                              "type": "string",
                              "description": "이미지명",
                              "properties": {}
                            },
                            "originimgurl": {
                              "type": "string",
                              "description": "원본이미지",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "데이터베이스에러(DB_ERROR)"
          },
          "03": {
            "description": "데이터없음에러(NODATA_ERROR)"
          },
          "00": {
            "description": "정상(NORMAL_CODE)"
          },
          "05": {
            "description": "서비스연결실패에러(SERVICETIMEOUT_ERROR)"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "이미지정보조회",
        "description": "관광정보에 매핑되는 서브이미지목록 및 이미지 자작권 공공누리유형을 조회하는 기능",
        "operationId": "detailImage2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WIN (윈도우폰), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "contentId",
          "description": "콘텐츠ID",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "imageYN",
          "description": "이미지조회1 : Y=콘텐츠이미지조회 N=”음식점”타입의음식메뉴이미지",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/detailWithTour2": {
      "get": {
        "responses": {
          "10": {
            "description": "잘못된요청파라메터에러(INVALID_REQUEST_PARAMETER_ERROR)"
          },
          "11": {
            "description": "필수요청파라메터가없음(NO_MANDATORY_REQUEST_PARAMETERS_ERROR)"
          },
          "21": {
            "description": "일시적으로사용할수없는서비스키(TEMPORARILY_DISABLE_THE_SERVICEKEY_ERROR)"
          },
          "33": {
            "description": "서명되지않은호출(UNSIGNED_CALL_ERROR)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "wheelchair": {
                              "type": "string",
                              "description": "휠체어",
                              "properties": {}
                            },
                            "exit": {
                              "type": "string",
                              "description": "출입통로",
                              "properties": {}
                            },
                            "elevator": {
                              "type": "string",
                              "description": "엘리베이터",
                              "properties": {}
                            },
                            "restroom": {
                              "type": "string",
                              "description": "화장실",
                              "properties": {}
                            },
                            "guidesystem": {
                              "type": "string",
                              "description": "유도안내설비",
                              "properties": {}
                            },
                            "blindhandicapetc": {
                              "type": "string",
                              "description": "시각장애 기타상세",
                              "properties": {}
                            },
                            "signguide": {
                              "type": "string",
                              "description": "수화안내",
                              "properties": {}
                            },
                            "videoguide": {
                              "type": "string",
                              "description": "자막 비디오가이드 및 영상자막안내",
                              "properties": {}
                            },
                            "hearingroom": {
                              "type": "string",
                              "description": "객실",
                              "properties": {}
                            },
                            "hearinghandicapetc": {
                              "type": "string",
                              "description": "청각장애 기타상세",
                              "properties": {}
                            },
                            "stroller": {
                              "type": "string",
                              "description": "유모차",
                              "properties": {}
                            },
                            "lactationroom": {
                              "type": "string",
                              "description": "수유실",
                              "properties": {}
                            },
                            "babysparechair": {
                              "type": "string",
                              "description": "유아용보조의자",
                              "properties": {}
                            },
                            "infantsfamilyetc": {
                              "type": "string",
                              "description": "영유아가족 기타상세",
                              "properties": {}
                            },
                            "auditorium": {
                              "type": "string",
                              "description": "관람석",
                              "properties": {}
                            },
                            "room": {
                              "type": "string",
                              "description": "객실",
                              "properties": {}
                            },
                            "handicapetc": {
                              "type": "string",
                              "description": "지체장애 기타 상세",
                              "properties": {}
                            },
                            "braileblock": {
                              "type": "string",
                              "description": "점자블록",
                              "properties": {}
                            },
                            "helpdog": {
                              "type": "string",
                              "description": "보조견동반",
                              "properties": {}
                            },
                            "guidehuman": {
                              "type": "string",
                              "description": "안내요원",
                              "properties": {}
                            },
                            "audioguide": {
                              "type": "string",
                              "description": "오디오가이드",
                              "properties": {}
                            },
                            "bigprint": {
                              "type": "string",
                              "description": "큰활자 홍보물",
                              "properties": {}
                            },
                            "brailepromotion": {
                              "type": "string",
                              "description": "점자홍보물 및 점자표지판",
                              "properties": {}
                            },
                            "contentid": {
                              "type": "string",
                              "description": "콘텐츠ID",
                              "properties": {}
                            },
                            "parking": {
                              "type": "string",
                              "description": "주차여부",
                              "properties": {}
                            },
                            "route": {
                              "type": "string",
                              "description": "대중교통",
                              "properties": {}
                            },
                            "publictransport": {
                              "type": "string",
                              "description": "접근로",
                              "properties": {}
                            },
                            "ticketoffice": {
                              "type": "string",
                              "description": "매표소",
                              "properties": {}
                            },
                            "promotion": {
                              "type": "string",
                              "description": "홍보물",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "03": {
            "description": "데이터없음에러(NODATA_ERROR)"
          },
          "00": {
            "description": "정상(NORMAL_CODE)"
          },
          "02": {
            "description": "데이터베이스에러(DB_ERROR)"
          },
          "05": {
            "description": "서비스연결실패에러(SERVICETIMEOUT_ERROR)"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "무장애정보조회",
        "description": "무장애 여행정보를 조회하는 기능",
        "operationId": "detailWithTour2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WIN (윈도우폰), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "contentId",
          "description": "콘텐츠ID",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/areaBasedList2": {
      "get": {
        "responses": {
          "10": {
            "description": "잘못된요청파라메터에러(INVALID_REQUEST_PARAMETER_ERROR)"
          },
          "11": {
            "description": "필수요청파라메터가없음(NO_MANDATORY_REQUEST_PARAMETERS_ERROR)"
          },
          "21": {
            "description": "일시적으로사용할수없는서비스키(TEMPORARILY_DISABLE_THE_SERVICEKEY_ERROR)"
          },
          "33": {
            "description": "서명되지않은호출(UNSIGNED_CALL_ERROR)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "contentid": {
                              "type": "string",
                              "description": "콘텐츠ID",
                              "properties": {}
                            },
                            "createdtime": {
                              "type": "string",
                              "description": "등록일",
                              "properties": {}
                            },
                            "cat1": {
                              "type": "string",
                              "description": "대분류",
                              "properties": {}
                            },
                            "contenttypeid": {
                              "type": "string",
                              "description": "콘텐츠타입ID",
                              "properties": {}
                            },
                            "zipcode": {
                              "type": "string",
                              "description": "우편번호",
                              "properties": {}
                            },
                            "addr1": {
                              "type": "string",
                              "description": "주소",
                              "properties": {}
                            },
                            "addr2": {
                              "type": "string",
                              "description": "상세주소",
                              "properties": {}
                            },
                            "areacode": {
                              "type": "string",
                              "description": "지역코드",
                              "properties": {}
                            },
                            "cat3": {
                              "type": "string",
                              "description": "소분류",
                              "properties": {}
                            },
                            "cat2": {
                              "type": "string",
                              "description": "중분류",
                              "properties": {}
                            },
                            "modifiedtime": {
                              "type": "string",
                              "description": "수정일",
                              "properties": {}
                            },
                            "sigungucode": {
                              "type": "string",
                              "description": "시군구코드",
                              "properties": {}
                            },
                            "tel": {
                              "type": "string",
                              "description": "전화번호",
                              "properties": {}
                            },
                            "title": {
                              "type": "string",
                              "description": "제목",
                              "properties": {}
                            },
                            "mapy": {
                              "type": "string",
                              "description": "GPS Y좌표",
                              "properties": {}
                            },
                            "mlevel": {
                              "type": "string",
                              "description": "Map Level",
                              "properties": {}
                            },
                            "cpyrhtDivCd": {
                              "type": "string",
                              "description": "저작권 유형 (Type1:제1유형(출처표시-권장), Type3:제3유형(제1유형+변경금지)",
                              "properties": {}
                            },
                            "firstimage": {
                              "type": "string",
                              "description": "대표이미지(원본)",
                              "properties": {}
                            },
                            "firstimage2": {
                              "type": "string",
                              "description": "대표이미지(썸네일)",
                              "properties": {}
                            },
                            "mapx": {
                              "type": "string",
                              "description": "GPS X좌표",
                              "properties": {}
                            },
                            "lDongRegnCd": {
                              "type": "string",
                              "description": "법정동 시도 코드",
                              "properties": {}
                            },
                            "lDongSignguCd": {
                              "type": "string",
                              "description": "법정동 시군구 코드",
                              "properties": {}
                            },
                            "lclsSystm1": {
                              "type": "string",
                              "description": "분류체계 1Deth",
                              "properties": {}
                            },
                            "lclsSystm2": {
                              "type": "string",
                              "description": "분류체계 2Deth",
                              "properties": {}
                            },
                            "lclsSystm3": {
                              "type": "string",
                              "description": "분류체계 3Deth",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "05": {
            "description": "서비스연결실패에러(SERVICETIMEOUT_ERROR)"
          },
          "00": {
            "description": "정상(NORMAL_CODE)"
          },
          "02": {
            "description": "데이터베이스에러(DB_ERROR)"
          },
          "03": {
            "description": "데이터없음에러(NODATA_ERROR)"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "지역기반 관광정보조회",
        "description": "지역기반 관광정보파라미터 타입에 따라서 제목순,수정일순,등록일순 정렬검색목록을 조회하는 기능",
        "operationId": "areaBasedList2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WIN (윈도우폰), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "arrange",
          "description": "정렬구분 (A=제목순,C=수정일순, D=생성일순) 대표이미지가반드시있는정렬(O=제목순, Q=수정일순, R=생성일순)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "contentTypeId",
          "description": "관광타입(12:관광지, 14:문화시설, 15:축제공연행사, 25:여행코스, 28:레포츠, 32:숙박, 38:쇼핑, 39:음식점) ID",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "areaCode",
          "description": "지역코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "sigunguCode",
          "description": "시군구코드(지역코드 필수)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat1",
          "description": "대분류 코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat2",
          "description": "중분류 코드(cat1필수)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat3",
          "description": "소분류 코드(cat1,cat2필수)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "modifiedtime",
          "description": "수정일(형식 :YYYYMMDD)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lDongRegnCd",
          "description": "법정동 시도 코드(법정동코드조회 참고)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "lDongSignguCd",
          "description": "법정동 시군구 코드(법정동코드조회 참고, lDongRegnCd 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm1",
          "description": "분류체계 1Deth(분류체계코드조회 참고)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "lclsSystm2",
          "description": "분류체계 2Deth(분류체계코드조회 참고, lclsSystm1 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm3",
          "description": "분류체계 3Deth(분류체계코드조회 참고, lclsSystm1/lclsSystm2 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/locationBasedList2": {
      "get": {
        "responses": {
          "10": {
            "description": "잘못된요청파라메터에러(INVALID_REQUEST_PARAMETER_ERROR)"
          },
          "11": {
            "description": "필수요청파라메터가없음(NO_MANDATORY_REQUEST_PARAMETERS_ERROR)"
          },
          "21": {
            "description": "일시적으로사용할수없는서비스키(TEMPORARILY_DISABLE_THE_SERVICEKEY_ERROR)"
          },
          "33": {
            "description": "서명되지않은호출(UNSIGNED_CALL_ERROR)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "contentid": {
                              "type": "string",
                              "description": "콘텐츠ID",
                              "properties": {}
                            },
                            "cat2": {
                              "type": "string",
                              "description": "중분류",
                              "properties": {}
                            },
                            "tel": {
                              "type": "string",
                              "description": "전화번호",
                              "properties": {}
                            },
                            "title": {
                              "type": "string",
                              "description": "제목",
                              "properties": {}
                            },
                            "firstimage": {
                              "type": "string",
                              "description": "대표이미지(원본)",
                              "properties": {}
                            },
                            "createdtime": {
                              "type": "string",
                              "description": "등록일",
                              "properties": {}
                            },
                            "dist": {
                              "type": "string",
                              "description": "거리",
                              "properties": {}
                            },
                            "mapy": {
                              "type": "string",
                              "description": "GPS Y좌표",
                              "properties": {}
                            },
                            "cat3": {
                              "type": "string",
                              "description": "소분류",
                              "properties": {}
                            },
                            "modifiedtime": {
                              "type": "string",
                              "description": "수정일",
                              "properties": {}
                            },
                            "sigungucode": {
                              "type": "string",
                              "description": "시군구코드",
                              "properties": {}
                            },
                            "cpyrhtDivCd": {
                              "type": "string",
                              "description": "저작권 유형 (Type1:제1유형(출처표시-권장), Type3:제3유형(제1유형+변경금지)",
                              "properties": {}
                            },
                            "firstimage2": {
                              "type": "string",
                              "description": "대표이미지(썸네일)",
                              "properties": {}
                            },
                            "mapx": {
                              "type": "string",
                              "description": "GPS X좌표",
                              "properties": {}
                            },
                            "contenttypeid": {
                              "type": "string",
                              "description": "콘텐츠타입ID",
                              "properties": {}
                            },
                            "addr1": {
                              "type": "string",
                              "description": "주소",
                              "properties": {}
                            },
                            "addr2": {
                              "type": "string",
                              "description": "상세주소",
                              "properties": {}
                            },
                            "areacode": {
                              "type": "string",
                              "description": "지역코드",
                              "properties": {}
                            },
                            "cat1": {
                              "type": "string",
                              "description": "대분류",
                              "properties": {}
                            },
                            "mlevel": {
                              "type": "string",
                              "description": "Map Level",
                              "properties": {}
                            },
                            "zipcode": {
                              "type": "string",
                              "description": "우편번호",
                              "properties": {}
                            },
                            "lDongRegnCd": {
                              "type": "string",
                              "description": "법정동 시도 코드",
                              "properties": {}
                            },
                            "lDongSignguCd": {
                              "type": "string",
                              "description": "법정동 시군구 코드",
                              "properties": {}
                            },
                            "lclsSystm1": {
                              "type": "string",
                              "description": "분류체계 1Deth",
                              "properties": {}
                            },
                            "lclsSystm2": {
                              "type": "string",
                              "description": "분류체계 2Deth",
                              "properties": {}
                            },
                            "lclsSystm3": {
                              "type": "string",
                              "description": "분류체계 3Deth",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "00": {
            "description": "정상(NORMAL_CODE)"
          },
          "02": {
            "description": "데이터베이스에러(DB_ERROR)"
          },
          "03": {
            "description": "데이터없음에러(NODATA_ERROR)"
          },
          "05": {
            "description": "서비스연결실패에러(SERVICETIMEOUT_ERROR)"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "위치기반 관광정보조회",
        "description": "위치기반 관광정보파라미터 타입에 따라서 제목순,수정일순,등록일순 정렬검색목록을 조회하는 기능",
        "operationId": "locationBasedList2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WIN (윈도우폰), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "arrange",
          "description": "정렬구분(A=제목순, C=수정일순, D=생성일순, E=거리순) 대표이미지가반드시있는정렬 (O=제목순, Q=수정일순, R=생성일순,S=거리순)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "mapX",
          "description": "GPS X좌표(WGS84 경도좌표)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "mapY",
          "description": "GPS Y좌표(WGS84 위도좌표)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "radius",
          "description": "거리반경(단위:m) , Max값 20000m=20Km",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "contentTypeId",
          "description": "관광타입(12:관광지, 14:문화시설, 15:축제공연행사, 25:여행코스, 28:레포츠, 32:숙박, 38:쇼핑, 39:음식점) ID",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "modifiedtime",
          "description": "수정일(형식 :YYYYMMDD)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "lDongRegnCd",
          "description": "법정동 시도 코드(법정동코드조회 참고)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lDongSignguCd",
          "description": "법정동 시군구 코드(법정동코드조회 참고, lDongRegnCd 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm1",
          "description": "분류체계 1Deth(분류체계코드조회 참고)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm2",
          "description": "분류체계 2Deth(분류체계코드조회 참고, lclsSystm1 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm3",
          "description": "분류체계 3Deth(분류체계코드조회 참고, lclsSystm1/lclsSystm2 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "areaCode",
          "description": "지역코드(지역코드조회 참고)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "sigunguCode",
          "description": "시군구코드(지역코드조회 참고, areaCode 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat1",
          "description": "대분류(서비스분류코드조회 참고)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat2",
          "description": "중분류(서비스분류코드조회 참고, cat1 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat3",
          "description": "소분류(서비스분류코드조회 참고, cat1/cat2필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/searchKeyword2": {
      "get": {
        "responses": {
          "10": {
            "description": "잘못된요청파라메터에러(INVALID_REQUEST_PARAMETER_ERROR)"
          },
          "11": {
            "description": "필수요청파라메터가없음(NO_MANDATORY_REQUEST_PARAMETERS_ERROR)"
          },
          "21": {
            "description": "일시적으로사용할수없는서비스키(TEMPORARILY_DISABLE_THE_SERVICEKEY_ERROR)"
          },
          "33": {
            "description": "서명되지않은호출(UNSIGNED_CALL_ERROR)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "cat2": {
                              "type": "string",
                              "description": "중분류",
                              "properties": {}
                            },
                            "cat3": {
                              "type": "string",
                              "description": "소분류",
                              "properties": {}
                            },
                            "tel": {
                              "type": "string",
                              "description": "전화번호",
                              "properties": {}
                            },
                            "modifiedtime": {
                              "type": "string",
                              "description": "수정일",
                              "properties": {}
                            },
                            "sigungucode": {
                              "type": "string",
                              "description": "시군구코드",
                              "properties": {}
                            },
                            "contentid": {
                              "type": "string",
                              "description": "콘텐츠ID",
                              "properties": {}
                            },
                            "mlevel": {
                              "type": "string",
                              "description": "Map Level",
                              "properties": {}
                            },
                            "title": {
                              "type": "string",
                              "description": "제목",
                              "properties": {}
                            },
                            "addr1": {
                              "type": "string",
                              "description": "주소",
                              "properties": {}
                            },
                            "addr2": {
                              "type": "string",
                              "description": "상세주소",
                              "properties": {}
                            },
                            "areacode": {
                              "type": "string",
                              "description": "지역코드",
                              "properties": {}
                            },
                            "cat1": {
                              "type": "string",
                              "description": "대분류",
                              "properties": {}
                            },
                            "firstimage2": {
                              "type": "string",
                              "description": "대표이미지(썸네일)",
                              "properties": {}
                            },
                            "mapx": {
                              "type": "string",
                              "description": "GPS X좌표",
                              "properties": {}
                            },
                            "mapy": {
                              "type": "string",
                              "description": "GPS Y좌표",
                              "properties": {}
                            },
                            "cpyrhtDivCd": {
                              "type": "string",
                              "description": "저작권 유형 (Type1:제1유형(출처표시-권장), Type3:제3유형(제1유형+변경금지)",
                              "properties": {}
                            },
                            "contenttypeid": {
                              "type": "string",
                              "description": "콘텐츠타입ID",
                              "properties": {}
                            },
                            "createdtime": {
                              "type": "string",
                              "description": "등록일",
                              "properties": {}
                            },
                            "firstimage": {
                              "type": "string",
                              "description": "대표이미지(원본)",
                              "properties": {}
                            },
                            "zipcode": {
                              "type": "string",
                              "description": "우편번호",
                              "properties": {}
                            },
                            "lDongRegnCd": {
                              "type": "string",
                              "description": "법정동 시도코드",
                              "properties": {}
                            },
                            "lDongSignguCd": {
                              "type": "string",
                              "description": "법정동 시군구코드",
                              "properties": {}
                            },
                            "lclsSystm1": {
                              "type": "string",
                              "description": "분류체계 1Deth",
                              "properties": {}
                            },
                            "lclsSystm2": {
                              "type": "string",
                              "description": "분류체계 2Deth",
                              "properties": {}
                            },
                            "lclsSystm3": {
                              "type": "string",
                              "description": "분류체계 3Deth",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "00": {
            "description": "정상(NORMAL_CODE)"
          },
          "03": {
            "description": "데이터없음에러(NODATA_ERROR)"
          },
          "02": {
            "description": "데이터베이스에러(DB_ERROR)"
          },
          "05": {
            "description": "서비스연결실패에러(SERVICETIMEOUT_ERROR)"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "키워드조회",
        "description": "키워드로 검색을하며 전체별 타입정보별 목록을 조회한다",
        "operationId": "searchKeyword2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WIN (윈도우폰), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "arrange",
          "description": "정렬구분(A=제목순, C=수정일순, D=생성일순)대표이미지가반드시있는정렬(O=제목순, Q=수정일순, R=생성일순)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "keyword",
          "description": "검색요청할키워드(국문=인코딩필요)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "areaCode",
          "description": "지역코드(지역코드조회 참고)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "sigunguCode",
          "description": "시군구코드(지역코드조회 참고, areaCode 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat1",
          "description": "대분류(서비스분류코드조회 참고)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat2",
          "description": "중분류(서비스분류코드조회 참고, cat1 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cat3",
          "description": "소분류(서비스분류코드조회 참고, cat1/cat2필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lDongRegnCd",
          "description": "법정동 시도 코드(법정동코드조회 참고)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lDongSignguCd",
          "description": "법정동 시군구 코드(법정동코드조회 참고, lDongRegnCd 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm1",
          "description": "분류체계 1Deth(분류체계코드조회 참고)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm2",
          "description": "분류체계 2Deth(분류체계코드조회 참고, lclsSystm1 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lclsSystm3",
          "description": "분류체계 3Deth(분류체계코드조회 참고, lclsSystm1/lclsSystm2 필수입력)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/detailCommon2": {
      "get": {
        "responses": {
          "10": {
            "description": "잘못된요청파라메터에러(INVALID_REQUEST_PARAMETER_ERROR)"
          },
          "11": {
            "description": "필수요청파라메터가없음(NO_MANDATORY_REQUEST_PARAMETERS_ERROR)"
          },
          "21": {
            "description": "일시적으로사용할수없는서비스키(TEMPORARILY_DISABLE_THE_SERVICEKEY_ERROR)"
          },
          "33": {
            "description": "서명되지않은호출(UNSIGNED_CALL_ERROR)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "homepage": {
                              "type": "string",
                              "description": "홈페이지주소",
                              "properties": {}
                            },
                            "modifiedtime": {
                              "type": "string",
                              "description": "수정일",
                              "properties": {}
                            },
                            "overview": {
                              "type": "string",
                              "description": "개요",
                              "properties": {}
                            },
                            "contentid": {
                              "type": "string",
                              "description": "콘텐츠ID",
                              "properties": {}
                            },
                            "firstimage2": {
                              "type": "string",
                              "description": "대표이미지(썸네일)",
                              "properties": {}
                            },
                            "areacode": {
                              "type": "string",
                              "description": "지역코드",
                              "properties": {}
                            },
                            "sigungucode": {
                              "type": "string",
                              "description": "시군구코드",
                              "properties": {}
                            },
                            "cpyrhtDivCd": {
                              "type": "string",
                              "description": "저작권 유형 (Type1:제1유형(출처표시-권장), Type3:제3유형(제1유형+변경금지)",
                              "properties": {}
                            },
                            "mapy": {
                              "type": "string",
                              "description": "GPS Y좌표",
                              "properties": {}
                            },
                            "title": {
                              "type": "string",
                              "description": "콘텐츠명(제목)",
                              "properties": {}
                            },
                            "firstimage": {
                              "type": "string",
                              "description": "대표이미지(원본)",
                              "properties": {}
                            },
                            "tel": {
                              "type": "string",
                              "description": "전화번호",
                              "properties": {}
                            },
                            "telname": {
                              "type": "string",
                              "description": "전화번호명",
                              "properties": {}
                            },
                            "cat1": {
                              "type": "string",
                              "description": "대분류",
                              "properties": {}
                            },
                            "cat2": {
                              "type": "string",
                              "description": "중분류",
                              "properties": {}
                            },
                            "cat3": {
                              "type": "string",
                              "description": "소분류",
                              "properties": {}
                            },
                            "addr1": {
                              "type": "string",
                              "description": "주소",
                              "properties": {}
                            },
                            "addr2": {
                              "type": "string",
                              "description": "상세주소",
                              "properties": {}
                            },
                            "zipcode": {
                              "type": "string",
                              "description": "우편번호",
                              "properties": {}
                            },
                            "mapx": {
                              "type": "string",
                              "description": "GPS X좌표",
                              "properties": {}
                            },
                            "mlevel": {
                              "type": "string",
                              "description": "Map Level",
                              "properties": {}
                            },
                            "contenttypeid": {
                              "type": "string",
                              "description": "콘텐츠타입ID",
                              "properties": {}
                            },
                            "createdtime": {
                              "type": "string",
                              "description": "등록일",
                              "properties": {}
                            },
                            "lDongRegnCd": {
                              "type": "string",
                              "description": "법정동 시도코드",
                              "properties": {}
                            },
                            "lDongSignguCd": {
                              "type": "string",
                              "description": "법정동 시군구코드",
                              "properties": {}
                            },
                            "lclsSystm1": {
                              "type": "string",
                              "description": "분류체계 1Deth",
                              "properties": {}
                            },
                            "lclsSystm2": {
                              "type": "string",
                              "description": "분류체계 2Deth",
                              "properties": {}
                            },
                            "lclsSystm3": {
                              "type": "string",
                              "description": "분류체계 3Deth",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "05": {
            "description": "서비스연결실패에러(SERVICETIMEOUT_ERROR)"
          },
          "00": {
            "description": "정상(NORMAL_CODE)"
          },
          "02": {
            "description": "데이터베이스에러(DB_ERROR)"
          },
          "03": {
            "description": "데이터없음에러(NODATA_ERROR)"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "공통정보조회",
        "description": "타입별공통정보 기본정보,약도이미지,대표이미지,분류정보,지역정보,주소정보,좌표정보,개요정보,길안내정보,이미지정보,연계관광정보목록을 조회하는 기능",
        "operationId": "detailCommon2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한페이지결과수",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WIN (윈도우폰), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "contentId",
          "description": "콘텐츠ID",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "인증키(서비스키)",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/detailIntro2": {
      "get": {
        "responses": {
          "10": {
            "description": "잘못된요청파라메터에러(INVALID_REQUEST_PARAMETER_ERROR)"
          },
          "11": {
            "description": "필수요청파라메터가없음(NO_MANDATORY_REQUEST_PARAMETERS_ERROR)"
          },
          "21": {
            "description": "일시적으로사용할수없는서비스키(TEMPORARILY_DISABLE_THE_SERVICEKEY_ERROR)"
          },
          "33": {
            "description": "서명되지않은호출(UNSIGNED_CALL_ERROR)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "reservationlodging": {
                              "type": "string",
                              "description": "숙박(32) : 예약안내",
                              "properties": {}
                            },
                            "chkcreditcardleports": {
                              "type": "string",
                              "description": "레포츠(28) : 신용카드가능정보",
                              "properties": {}
                            },
                            "chkcooking": {
                              "type": "string",
                              "description": "숙박(32) : 객실내취사여부",
                              "properties": {}
                            },
                            "foodplace": {
                              "type": "string",
                              "description": "숙박(32) : 식음료장",
                              "properties": {}
                            },
                            "infocenterlodging": {
                              "type": "string",
                              "description": "숙박(32) : 문의및안내",
                              "properties": {}
                            },
                            "eventhomepage": {
                              "type": "string",
                              "description": "행사공연축제(15) : 행사홈페이지",
                              "properties": {}
                            },
                            "reservationfood": {
                              "type": "string",
                              "description": "음식점(39) : 예약안내",
                              "properties": {}
                            },
                            "chkcreditcardfood": {
                              "type": "string",
                              "description": "음식점(39) : 신용카드가능정보",
                              "properties": {}
                            },
                            "discountinfofood": {
                              "type": "string",
                              "description": "음식점(39) : 할인정보",
                              "properties": {}
                            },
                            "firstmenu": {
                              "type": "string",
                              "description": "음식점(39) : 대표메뉴",
                              "properties": {}
                            },
                            "chkcreditcardshopping": {
                              "type": "string",
                              "description": "쇼핑(38) : 신용카드가능정보",
                              "properties": {}
                            },
                            "chkpetshopping": {
                              "type": "string",
                              "description": "쇼핑(38) : 애완동물동반가능정보",
                              "properties": {}
                            },
                            "culturecenter": {
                              "type": "string",
                              "description": "쇼핑(38) : 문화센터바로가기",
                              "properties": {}
                            },
                            "fairday": {
                              "type": "string",
                              "description": "쇼핑(38) : 장서는날",
                              "properties": {}
                            },
                            "infocentershopping": {
                              "type": "string",
                              "description": "쇼핑(38) : 문의및안내",
                              "properties": {}
                            },
                            "opendateshopping": {
                              "type": "string",
                              "description": "쇼핑(38) : 개장일",
                              "properties": {}
                            },
                            "opentime": {
                              "type": "string",
                              "description": "쇼핑(38) : 영업시간",
                              "properties": {}
                            },
                            "parkingshopping": {
                              "type": "string",
                              "description": "쇼핑(38) : 주차시설",
                              "properties": {}
                            },
[...]
