{
  "swagger": "2.0",
  "info": {
    "description": "- 티맵 모빌리티(주)의 내비게이션 데이터를 기반으로 산출된 관광지별 연관 관광지 정보입니다. Tmap 어플리케이션 사용자가 목적지를 조회하고 거리 기준으로 100m, 시간 기준으로 1분 이상 이동한 조건을 모두 충족한 경우에 한해 집계되며, 차량이동을 기준으로 하므로 실제 연계 방문 정도나 연계 방문하는 사람의 수와는 차이가 있을 수 있습니다. 지자체별 중심관광지와 높은 연결성을 가지는 연관관광지의 전체, 관광지, 음식, 숙박 유형별 최대 각 50위까지 정보를 제공합니다.\n- 개방 데이터는 지역기반 관광지별 연관 관광지 정보 목록 조회 키워드 검색 관광지별 연관 관광지 정보 목록 조회  2종의 정보를 2024년 05월부터 2025년04월까지의 정보를 제공합니다.",
    "version": "1.0.0",
    "title": "한국관광공사_관광지별 연관 관광지 정보"
  },
  "host": "apis.data.go.kr/B551011/TarRlteTarService1",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/areaBasedList1": {
      "get": {
        "responses": {
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된요청파라메터에러)"
          },
          "11": {
            "description": "NO_MANDATORY_REQUEST_PARAMETERS_ERROR(필수요청파라메터가없음)"
          },
          "21": {
            "description": "TEMPORARILY_DISABLE_THE_SERVICEKEY_ERROR(일시적으로사용할수없는서비스키)"
          },
          "33": {
            "description": "UNSIGNED_CALL_ERROR(서명되지않은호출)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "rlteCtgryMclsNm": {
                              "type": "string",
                              "description": "연관관광지 중분류명",
                              "properties": {}
                            },
                            "rlteCtgrySclsNm": {
                              "type": "string",
                              "description": "연관관광지 소분류명",
                              "properties": {}
                            },
                            "rlteRank": {
                              "type": "string",
                              "description": "연관 순위",
                              "properties": {}
                            },
                            "baseYm": {
                              "type": "string",
                              "description": "기준연월",
                              "properties": {}
                            },
                            "tAtsNm": {
                              "type": "string",
                              "description": "관광지명",
                              "properties": {}
                            },
                            "areaCd": {
                              "type": "string",
                              "description": "관광지 지역코드",
                              "properties": {}
                            },
                            "areaNm": {
                              "type": "string",
                              "description": "관광지 지역명",
                              "properties": {}
                            },
                            "signguCd": {
                              "type": "string",
                              "description": "관광지 시군구코드",
                              "properties": {}
                            },
                            "signguNm": {
                              "type": "string",
                              "description": "관광지 시군구명",
                              "properties": {}
                            },
                            "rlteTatsNm": {
                              "type": "string",
                              "description": "연관관광지명",
                              "properties": {}
                            },
                            "rlteRegnCd": {
                              "type": "string",
                              "description": "연관관광지 지역코드",
                              "properties": {}
                            },
                            "rlteRegnNm": {
                              "type": "string",
                              "description": "연관관광지 지역명",
                              "properties": {}
                            },
                            "rlteSignguCd": {
                              "type": "string",
                              "description": "연관관광지 시군구코드",
                              "properties": {}
                            },
                            "rlteSignguNm": {
                              "type": "string",
                              "description": "연관관광지 시군구명",
                              "properties": {}
                            },
                            "rlteCtgryLclsNm": {
                              "type": "string",
                              "description": "연관관광지 대분류명",
                              "properties": {}
                            },
                            "tAtsCd": {
                              "type": "string",
                              "description": "관광지코드",
                              "properties": {}
                            },
                            "rlteTatsCd": {
                              "type": "string",
                              "description": "연관관광지코드",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "03": {
            "description": "NODATA_ERROR(데이터없음에러)"
          },
          "02": {
            "description": "DB_ERROR(데이터베이스에러)"
          },
          "05": {
            "description": "SERVICETIMEOUT_ERROR(서비스연결실패에러)"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "지역기반 관광지별 연관 관광지 정보 목록 조회",
        "description": "시군구를 기반으로 관광지별 연관 관광지 정보 목록을 조회하는 기능입니다.",
        "operationId": "areaBasedList1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WEB(웹), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "baseYm",
          "description": "기준 날짜 조회(형식:YYYYMM)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "areaCd",
          "description": "관광지 지역 코드 ( 매뉴얼 문서 시군구 코드정보 참고 )",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "signguCd",
          "description": "관광지 시군구 코드 ( 매뉴얼 문서 시군구 코드정보 참고 )",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/searchKeyword1": {
      "get": {
        "responses": {
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된요청파라메터에러)"
          },
          "11": {
            "description": "NO_MANDATORY_REQUEST_PARAMETERS_ERROR(필수요청파라메터가없음)"
          },
          "21": {
            "description": "TEMPORARILY_DISABLE_THE_SERVICEKEY_ERROR(일시적으로사용할수없는서비스키)"
          },
          "33": {
            "description": "UNSIGNED_CALL_ERROR(서명되지않은호출)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "API 호출 결과의 상태 코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "API 호출 결과의 상태",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "numOfRows": {
                      "type": "number",
                      "description": "한 페이지의 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "number",
                      "description": "현재 조회된 데이터의 페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "number",
                      "description": "전체 데이터의 총 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "rlteCtgryMclsNm": {
                              "type": "string",
                              "description": "연관관광지 중분류명",
                              "properties": {}
                            },
                            "rlteCtgrySclsNm": {
                              "type": "string",
                              "description": "연관관광지 소분류명",
                              "properties": {}
                            },
                            "rlteRank": {
                              "type": "string",
                              "description": "연관 순위",
                              "properties": {}
                            },
                            "baseYm": {
                              "type": "string",
                              "description": "기준연월",
                              "properties": {}
                            },
                            "tAtsNm": {
                              "type": "string",
                              "description": "관광지명",
                              "properties": {}
                            },
                            "areaCd": {
                              "type": "string",
                              "description": "관광지 지역코드",
                              "properties": {}
                            },
                            "areaNm": {
                              "type": "string",
                              "description": "관광지 지역명",
                              "properties": {}
                            },
                            "signguCd": {
                              "type": "string",
                              "description": "관광지 시군구코드",
                              "properties": {}
                            },
                            "signguNm": {
                              "type": "string",
                              "description": "관광지 시군구명",
                              "properties": {}
                            },
                            "rlteTatsNm": {
                              "type": "string",
                              "description": "연관관광지명",
                              "properties": {}
                            },
                            "rlteRegnCd": {
                              "type": "string",
                              "description": "연관관광지 지역코드",
                              "properties": {}
                            },
                            "rlteRegnNm": {
                              "type": "string",
                              "description": "연관관광지 지역명",
                              "properties": {}
                            },
                            "rlteSignguCd": {
                              "type": "string",
                              "description": "연관관광지 시군구코드",
                              "properties": {}
                            },
                            "rlteSignguNm": {
                              "type": "string",
                              "description": "연관관광지 시군구명",
                              "properties": {}
                            },
                            "rlteCtgryLclsNm": {
                              "type": "string",
                              "description": "연관관광지 대분류명",
                              "properties": {}
                            },
                            "tAtsCd": {
                              "type": "string",
                              "description": "관광지코드",
                              "properties": {}
                            },
                            "rlteTatsCd": {
                              "type": "string",
                              "description": "연관관광지코드",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "03": {
            "description": "NODATA_ERROR(데이터없음에러)"
          },
          "05": {
            "description": "SERVICETIMEOUT_ERROR(서비스연결실패에러)"
          },
          "02": {
            "description": "DB_ERROR(데이터베이스에러)"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "키워드 검색 관광지별 연관 관광지 정보 목록 조회",
        "description": "키워드 검색 관광지별 연관 관광지 정보 관광지 키워드 검색을 하여 관광지별 연관 관광지 정보 목록을 조회하는 기능입니다.",
        "operationId": "searchKeyword1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileOS",
          "description": "OS 구분 : IOS (아이폰), AND (안드로이드), WEB(웹), ETC(기타)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "MobileApp",
          "description": "서비스명(어플명)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "baseYm",
          "description": "기준 날짜 조회(형식:YYYYMM)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "areaCd",
          "description": "관광지 지역 코드 ( 매뉴얼 문서 시군구 코드정보 참고 )",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "signguCd",
          "description": "관광지 시군구 코드 ( 매뉴얼 문서 시군구 코드정보 참고 )",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "keyword",
          "description": "키워드(관광지명)로 검색을 하여  연관관광지 순위정보를 조회하는 기능",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "areaBasedList1_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "API 호출 결과의 상태 코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "API 호출 결과의 상태"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "pageNo": {
              "type": "number",
              "description": "현재 조회된 데이터의 페이지 번호"
            },
            "totalCount": {
              "type": "number",
              "description": "전체 데이터의 총 수"
            },
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "rlteCtgryMclsNm": {
                      "type": "string",
                      "description": "연관관광지 중분류명"
                    },
                    "rlteCtgrySclsNm": {
                      "type": "string",
                      "description": "연관관광지 소분류명"
                    },
                    "rlteRank": {
                      "type": "string",
                      "description": "연관 순위"
                    },
                    "baseYm": {
                      "type": "string",
                      "description": "기준연월"
                    },
                    "tAtsNm": {
                      "type": "string",
                      "description": "관광지명"
                    },
                    "areaCd": {
                      "type": "string",
                      "description": "관광지 지역코드"
                    },
                    "areaNm": {
                      "type": "string",
                      "description": "관광지 지역명"
                    },
                    "signguCd": {
                      "type": "string",
                      "description": "관광지 시군구코드"
                    },
                    "signguNm": {
                      "type": "string",
                      "description": "관광지 시군구명"
                    },
                    "rlteTatsNm": {
                      "type": "string",
                      "description": "연관관광지명"
                    },
                    "rlteRegnCd": {
                      "type": "string",
                      "description": "연관관광지 지역코드"
                    },
                    "rlteRegnNm": {
                      "type": "string",
                      "description": "연관관광지 지역명"
                    },
                    "rlteSignguCd": {
                      "type": "string",
                      "description": "연관관광지 시군구코드"
                    },
                    "rlteSignguNm": {
                      "type": "string",
                      "description": "연관관광지 시군구명"
                    },
                    "rlteCtgryLclsNm": {
                      "type": "string",
                      "description": "연관관광지 대분류명"
                    },
                    "tAtsCd": {
                      "type": "string",
                      "description": "관광지코드"
                    },
                    "rlteTatsCd": {
                      "type": "string",
                      "description": "연관관광지코드"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "number",
              "description": "한 페이지의 결과 수"
            }
          }
        }
      }
    },
    "searchKeyword1_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "API 호출 결과의 상태 코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "API 호출 결과의 상태"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "numOfRows": {
              "type": "number",
              "description": "한 페이지의 결과 수"
            },
            "pageNo": {
              "type": "number",
              "description": "현재 조회된 데이터의 페이지 번호"
            },
            "totalCount": {
              "type": "number",
              "description": "전체 데이터의 총 수"
            },
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "rlteCtgryMclsNm": {
                      "type": "string",
                      "description": "연관관광지 중분류명"
                    },
                    "rlteCtgrySclsNm": {
                      "type": "string",
                      "description": "연관관광지 소분류명"
                    },
                    "rlteRank": {
                      "type": "string",
                      "description": "연관 순위"
                    },
                    "baseYm": {
                      "type": "string",
                      "description": "기준연월"
                    },
                    "tAtsNm": {
                      "type": "string",
                      "description": "관광지명"
                    },
                    "areaCd": {
                      "type": "string",
                      "description": "관광지 지역코드"
                    },
                    "areaNm": {
                      "type": "string",
                      "description": "관광지 지역명"
                    },
                    "signguCd": {
                      "type": "string",
                      "description": "관광지 시군구코드"
                    },
                    "signguNm": {
                      "type": "string",
                      "description": "관광지 시군구명"
                    },
                    "rlteTatsNm": {
                      "type": "string",
                      "description": "연관관광지명"
                    },
                    "rlteRegnCd": {
                      "type": "string",
                      "description": "연관관광지 지역코드"
                    },
                    "rlteRegnNm": {
                      "type": "string",
                      "description": "연관관광지 지역명"
                    },
                    "rlteSignguCd": {
                      "type": "string",
                      "description": "연관관광지 시군구코드"
                    },
                    "rlteSignguNm": {
                      "type": "string",
                      "description": "연관관광지 시군구명"
                    },
                    "rlteCtgryLclsNm": {
                      "type": "string",
                      "description": "연관관광지 대분류명"
                    },
                    "tAtsCd": {
                      "type": "string",
                      "description": "관광지코드"
                    },
                    "rlteTatsCd": {
                      "type": "string",
                      "description": "연관관광지코드"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://gwapi.visitkorea.or.kr/openapi/service/gwrest/TarRlteTarService1/searchKeyword1",
      "oprtinNm": "키워드 검색 관광지별 연관 관광지 정보 목록 조회",
      "oprtinDc": "키워드 검색 관광지별 연관 관광지 정보 관광지 키워드 검색을 하여 관광지별 연관 관광지 정보 목록을 조회하는 기능입니다.",
      "gwSvcNm": "searchKeyword1",
      "operationId": "searchKeyword1",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "number",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "number",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "MobileOS",
          "paramtrDc": "OS 구분 : IOS (아이폰), AND (안드로이드), WEB(웹), ETC(기타)",
          "paramtrBassValue": "ETC",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "MobileApp",
          "paramtrDc": "서비스명(어플명)",
          "paramtrBassValue": "AppTest",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "baseYm",
          "paramtrDc": "기준 날짜 조회(형식:YYYYMM)",
          "paramtrBassValue": "202503",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "areaCd",
          "paramtrDc": "관광지 지역 코드 ( 매뉴얼 문서 시군구 코드정보 참고 )",
          "paramtrBassValue": "51",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "signguCd",
          "paramtrDc": "관광지 시군구 코드 ( 매뉴얼 문서 시군구 코드정보 참고 )",
          "paramtrBassValue": "51130",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "keyword",
          "paramtrDc": "키워드(관광지명)로 검색을 하여  연관관광지 순위정보를 조회하는 기능",
          "paramtrBassValue": "뮤지엄산",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "_type",
          "paramtrDc": "응답메세지 형식 : REST방식의 URL호출 시 json값 추가(디폴트 응답메세지 형식은XML)",
          "paramtrBassValue": "json",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/searchKeyword_header",
          "subDefNm": "searchKeyword_header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "API 호출 결과의 상태 코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "API 호출 결과의 상태",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/searchKeyword_body",
          "subDefNm": "searchKeyword_body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "numOfRows",
              "paramtrDc": "한 페이지의 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "number",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "pageNo",
              "paramtrDc": "현재 조회된 데이터의 페이지 번호",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "number",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "totalCount",
              "paramtrDc": "전체 데이터의 총 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "number",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/searchKeyword_items",
              "subDefNm": "searchKeyword_items",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/searchKeyword_item",
                  "subDefNm": "searchKeyword_item",
                  "paramtrTy": "object",
                  "paramtrDivision": "필수",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "rlteCtgryMclsNm",
                      "paramtrDc": "연관관광지 중분류명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rlteCtgrySclsNm",
                      "paramtrDc": "연관관광지 소분류명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rlteRank",
                      "paramtrDc": "연관 순위",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "baseYm",
                      "paramtrDc": "기준연월",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "tAtsNm",
                      "paramtrDc": "관광지명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "areaCd",
                      "paramtrDc": "관광지 지역코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "areaNm",
                      "paramtrDc": "관광지 지역명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "signguCd",
                      "paramtrDc": "관광지 시군구코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "signguNm",
                      "paramtrDc": "관광지 시군구명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rlteTatsNm",
                      "paramtrDc": "연관관광지명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rlteRegnCd",
                      "paramtrDc": "연관관광지 지역코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rlteRegnNm",
                      "paramtrDc": "연관관광지 지역명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rlteSignguCd",
                      "paramtrDc": "연관관광지 시군구코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rlteSignguNm",
                      "paramtrDc": "연관관광지 시군구명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rlteCtgryLclsNm",
                      "paramtrDc": "연관관광지 대분류명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "tAtsCd",
                      "paramtrDc": "관광지코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rlteTatsCd",
                      "paramtrDc": "연관관광지코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}