{
  "swagger": "2.0",
  "info": {
    "description": "병무청 누리집  병역이행안내 > 나라사랑가게  목록을 API방식으로 제공 합니다. \n자세한 내용은 병무청 누리집 https://www.mma.go.kr/contents.do?mc=mma0003356 을 참고하여 주시기 바랍니다.\n\n*나라사랑가게란? \n  - 일상생활에서 실질적 혜택을 통해 병역이행자에게 응원과 감동을 선사하는 나라사랑 가게를 선정 운영\n  - 병역이행자 범위 : 동원훈련 이수자, 현역병·사회복무요원 등 복무자, 병역명문가\n  - 병역이행을 응원하고 감동을 선사하여 자긍심을 고취하고 병역이행에 대한 사회적 예우 분위기 확산",
    "version": "1.0.0",
    "title": "병무청_나라사랑가게조회서비스"
  },
  "host": "apis.data.go.kr/1300000/JwctMmaUdhygigwan",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getjwctMmaUdhygigwan": {
      "get": {
        "responses": {
          "3": {
            "description": "NODATA_ERROR(데이터 없음)"
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된 요청 파라메터)"
          },
          "11": {
            "description": "NO_MANDATORY_REQUEST_PARAMETER_ERROR(필수요청 파라메터가 없음)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "udaeGgm": {
                              "type": "string",
                              "description": "우대기관명",
                              "properties": {}
                            },
                            "udgigwanTelno": {
                              "type": "string",
                              "description": "우대기관전화번호",
                              "properties": {}
                            },
                            "gtcdNm": {
                              "type": "string",
                              "description": "우대구분명",
                              "properties": {}
                            },
                            "juso": {
                              "type": "string",
                              "description": "주소",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라사랑가게조회",
        "description": "나라사랑가게조회(우대기관명,우대기관전화번호,우대구분명,주소)",
        "operationId": "getjwctMmaUdhygigwan",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "서비스키",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "getjwctMmaUdhygigwan_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "udaeGgm": {
                      "type": "string",
                      "description": "우대기관명"
                    },
                    "udgigwanTelno": {
                      "type": "string",
                      "description": "우대기관전화번호"
                    },
                    "gtcdNm": {
                      "type": "string",
                      "description": "우대구분명"
                    },
                    "juso": {
                      "type": "string",
                      "description": "주소"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://open.mma.go.kr/caisOATS/service/jwctMmaUdhygigwan/list",
      "oprtinNm": "나라사랑가게조회",
      "oprtinDc": "나라사랑가게조회(우대기관명,우대기관전화번호,우대구분명,주소)",
      "gwSvcNm": "getjwctMmaUdhygigwan",
      "operationId": "getjwctMmaUdhygigwan",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "서비스키",
          "paramtrBassValue": "",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/oper-1-header",
          "subDefNm": "oper-1-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메시지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/oper-1-body",
          "subDefNm": "oper-1-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/oper-1-items",
              "subDefNm": "oper-1-items",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/oper-1-item",
                  "subDefNm": "oper-1-item",
                  "paramtrTy": "object",
                  "paramtrDivision": "필수",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "udaeGgm",
                      "paramtrDc": "우대기관명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "udgigwanTelno",
                      "paramtrDc": "우대기관전화번호",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "gtcdNm",
                      "paramtrDc": "우대구분명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "juso",
                      "paramtrDc": "주소",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    }
                  ]
                }
              ]
            },
            {
              "paramtrNm": "numOfRows",
              "paramtrDc": "한 페이지 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "pageNo",
              "paramtrDc": "페이지번호",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "totalCount",
              "paramtrDc": "전체 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        }
      ]
    }
  ]
}