{
  "swagger": "2.0",
  "info": {
    "description": "출/도착지를 기반으로 시외버스 운행정보를 조회하는 서비스입니다.\n※ 현재 당일 배차정보만 제공하고 있습니다.(추후에 배차정보 기간을 연장할 예정이니 양해해 주시기 바랍니다.)\n본 서비스는 이용자가 선택한 출발 터미널과 도착 터미널을 기반으로, 해당 구간을 운행하는 시외버스의 배차 정보와 출발 시간, 도착 예정 시간 등 기본적인 운행 현황을 종합적으로 제공합니다.\n이를 통해 이용자는 특정 노선의 시외버스 운행 여부를 사전에 확인할 수 있으며, 이동 일정 수립과 대기 시간 예측 등 보다 효율적인 교통 계획을 세우는 데 활용할 수 있습니다.\n현재는 시스템 운영 정책에 따라 당일 운행되는 배차 정보만 제공하고 있으나, 향후 서비스 안정화 및 이용 편의성 향상을 위해 배차 정보 조회 기간을 단계적으로 확대할 예정이므로 이용에 참고 바랍니다.\n또한 한번에 출력되는 데이터 목록수를 설정할수 있으며, 페이지 번호를 설정하여 전체 데이터를 분할하여 호출이 가능합니다. \nTAGO 연계현황및 기술자료는 http://www.tago.go.kr에서 확인이 가능합니다.\n데이터 활용 추가 문의사항은 TAGO 운영팀(054-459-7870)으로 문의 바랍니다.",
    "version": "1.0.0",
    "title": "국토교통부_(TAGO)_시외버스정보"
  },
  "host": "apis.data.go.kr/1613000/SuburbsBusInfo",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/GetSuberbsBusTrminlList": {
      "get": {
        "responses": {
          "98": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된 요청 파라메터 에러)"
          },
          "99": {
            "description": "UNKNOWN_ERROR(요청한 리소스를 찾을 수 없습니다)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "데이터 총 개수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "terminalId": {
                              "type": "string",
                              "description": "터미널ID",
                              "properties": {}
                            },
                            "terminalNm": {
                              "type": "string",
                              "description": "터미널명",
                              "properties": {}
                            },
                            "cityName": {
                              "type": "string",
                              "description": "도시명",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "시외버스 터미널 목록 조회",
        "description": "시외버스 터미널 목록을 조회하는 기능",
        "operationId": "GetSuberbsBusTrminlList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "데이터 타입(xml, json)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "terminalNm",
          "description": "터미널명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cityCode",
          "description": "도시코드",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/GetStrtpntAlocFndSuberbsBusInfo": {
      "get": {
        "responses": {
          "98": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된 요청 파라메터 에러)"
          },
          "99": {
            "description": "UNKNOWN_ERROR(요청한 리소스를 찾을 수 없습니다)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "gradeNm": {
                              "type": "string",
                              "description": "버스등급",
                              "properties": {}
                            },
                            "routeId": {
                              "type": "string",
                              "description": "노선ID",
                              "properties": {}
                            },
                            "depPlandTime": {
                              "type": "string",
                              "description": "출발시간(YYYYMMDDHHMI)",
                              "properties": {}
                            },
                            "arrPlandTime": {
                              "type": "string",
                              "description": "도착시간(YYYYMMDDHHMI)",
                              "properties": {}
                            },
                            "depPlaceNm": {
                              "type": "string",
                              "description": "출발지",
                              "properties": {}
                            },
                            "arrPlaceNm": {
                              "type": "string",
                              "description": "도착지",
                              "properties": {}
                            },
                            "charge": {
                              "type": "string",
                              "description": "운임(단위 : 원)",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "데이터 총 개수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "출/도착지기반 시외버스정보 조회",
        "description": "출/도착지를 기반으로 시외버스 운행정보를 조회하는 기능",
        "operationId": "GetStrtpntAlocFndSuberbsBusInfo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "데이터 타입(xml, json)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "depTerminalId",
          "description": "출발터미널ID",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "arrTerminalId",
          "description": "도착터미널ID",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "depPlandTime",
          "description": "출발일(YYYYMMDD)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/GetCtyCodeList": {
      "get": {
        "responses": {
          "98": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된 요청 파라메터 에러)"
          },
          "99": {
            "description": "UNKNOWN_ERROR(요청한 리소스를 찾을 수 없습니다)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "cityName": {
                              "type": "string",
                              "description": "도시명",
                              "properties": {}
                            },
                            "cityCode": {
                              "type": "string",
                              "description": "도시코드",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "도시코드 목록 조회",
        "description": "도시코드의 목록을 조회하는 기능",
        "operationId": "GetCtyCodeList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "데이터 타입(xml, json)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/GetSuberbsBusGradList": {
      "get": {
        "responses": {
          "98": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된 요청 파라메터 에러)"
          },
          "99": {
            "description": "UNKNOWN_ERROR(요청한 리소스를 찾을 수 없습니다)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "gradeNm": {
                              "type": "string",
                              "description": "시외버스등급명",
                              "properties": {}
                            },
                            "gradeId": {
                              "type": "string",
                              "description": "시외버스등급ID",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "시외버스등급 목록 조회",
        "description": "시외버스 등급 목록을 조회하는 기능",
        "operationId": "GetSuberbsBusGradList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "데이터 타입(xml, json)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "GetSuberbsBusTrminlList_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "totalCount": {
              "type": "string",
              "description": "데이터 총 개수"
            },
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "terminalId": {
                      "type": "string",
                      "description": "터미널ID"
                    },
                    "terminalNm": {
                      "type": "string",
                      "description": "터미널명"
                    },
                    "cityName": {
                      "type": "string",
                      "description": "도시명"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "string",
              "description": "한페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지 번호"
            }
          }
        }
      }
    },
    "GetStrtpntAlocFndSuberbsBusInfo_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "gradeNm": {
                      "type": "string",
                      "description": "버스등급"
                    },
                    "routeId": {
                      "type": "string",
                      "description": "노선ID"
                    },
                    "depPlandTime": {
                      "type": "string",
                      "description": "출발시간(YYYYMMDDHHMI)"
                    },
                    "arrPlandTime": {
                      "type": "string",
                      "description": "도착시간(YYYYMMDDHHMI)"
                    },
                    "depPlaceNm": {
                      "type": "string",
                      "description": "출발지"
                    },
                    "arrPlaceNm": {
                      "type": "string",
                      "description": "도착지"
                    },
                    "charge": {
                      "type": "string",
                      "description": "운임(단위 : 원)"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "string",
              "description": "한페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지 번호"
            },
            "totalCount": {
              "type": "string",
              "description": "데이터 총 개수"
            }
          }
        }
      }
    },
    "GetCtyCodeList_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "cityName": {
                      "type": "string",
                      "description": "도시명"
                    },
                    "cityCode": {
                      "type": "string",
                      "description": "도시코드"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "GetSuberbsBusGradList_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "gradeNm": {
                      "type": "string",
                      "description": "시외버스등급명"
                    },
                    "gradeId": {
                      "type": "string",
                      "description": "시외버스등급ID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
